<div>
  <strong>Match</strong>
  <p><%=room.matchDetails.tournamentName%> | Match number : <%=room.matchDetails.matchNumber%></p>
  <hr>
  <strong>Date</strong>
  <p><%=room.matchDetails.dateOfTheMatch%></p>
  <hr>
  <strong>Time</strong>
  <p><%=room.matchDetails.matchStartingTime%></p>
  <hr>
  <strong>Toss</strong>
  <p><%=room.tossDetails%></p>
  <hr>
  <strong>Venue</strong>
  <p><%=room.matchDetails.venue%></p>
  <hr>
  <%if(room.matchDetails.firstTeamTeamList.length){%>
    <strong><%=room.matchDetails.firstTeam%>'s Team List :</strong>
    <p>
    <%room.matchDetails.firstTeamTeamList.forEach((player)=>{%>
      <%=player.userName%>,
    <%})%>
  </p>
  <hr>
  <%}%>
  <%if(room.matchDetails.secondTeamTeamList.length){%>
    <strong><%=room.matchDetails.secondTeam%>'s Team List :</strong>
    <p>
    <%room.matchDetails.secondTeamTeamList.forEach((player)=>{%>
      <%=player.userName%>,
    <%})%>
  </p>
  <hr>
  <%}%>
</div>