<%- include('includes/header') %>
<%- include('includes/flash') %>


<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-8" >
    <div class="single-batch-container mt-2">
      <div class="single-batch-data pb-4">
        <!-- header part of the tournament starts-->
        <div style="position: relative;">
          <img class="single-batch-image"  src="/images/sohag.jpg" alt="">
          <div class="batch-no text-capitalize">Tournament sponsorred by Sohag Roy</div> 
        </div>
        <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Name : </strong><%=tournamentData.tournamentName%></div>
        <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Year : </strong><%=tournamentData.tournamentYear%></div>
        <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Total Groups : </strong><%=tournamentData.groups.length%></div>
        <div class="text-center">
          <a href="/all-completed-matches/<%=tournamentData.tournamentName%>/<%=tournamentData.tournamentYear%>">
            <div class="btn btn-outline-primary btn-sm mr-1">All Completed Matches</div>
          </a>  
          <a href="/tournament/<%=tournamentData._id%>/create-match-room">
            <div class="btn btn-info btn-sm mr-1">Create Match Room</div>
          </a>          
        </div>
        <hr>
        <!-- header part of the tournament ends-->
        <!-- operation part of the tournament starts-->
        <div class="ml-2 mr-2">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="deleteTournament">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed bolderFont" data-toggle="collapse" data-target="#collapseDeleteTournament" aria-expanded="false" aria-controls="collapseDeleteTournament">Delete Tournament</button>
                </h5>
              </div>
              <div id="collapseDeleteTournament" class="collapse" aria-labelledby="deleteTournament" data-parent="#accordion">
                <div class="card-body">
                  <form action="/tournament/<%=tournamentData._id%>/delete" method="post">
                    <h4>Write <strong>"<%=tournamentData.tournamentName%>"</strong> to delete the tournament.</h4>
                    <div class="d-flex align-items-center">
                      <input  name="tournamentName" autocomplete="off" placeholder="Write tournament name here" class="form-control mr-3" required type="text" style="flex: 1;">
                      <button  class="btn btn-danger">Delete Tournament</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="completedTournament">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed bolderFont" data-toggle="collapse" data-target="#collapseCompletedTournament" aria-expanded="false" aria-controls="collapseCompletedTournament">Mark As Completed Tournament</button>
                </h5>
              </div>
              <div id="collapseCompletedTournament" class="collapse" aria-labelledby="completedTournament" data-parent="#accordion">
                <div class="card-body">
                  <form action="/tournament/<%=tournamentData._id%>/completed" method="post">
                    <h4>Write <strong>"completed"</strong> to mark the tournament as completed.</h4>
                    <div class="d-flex align-items-center">
                      <input  name="checkWord" autocomplete="off" placeholder="Write 'completed' here" class="form-control mr-3" required type="text" style="flex: 1;">
                      <button  class="btn btn-success"> Tournament Completed</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- operation part of the tournament ends-->
        <h4>
          <strong class="bolder ml-2">Added Tournament Groups:</strong>
        </h4>
      
        <!-- first round part of the tournament starts-->
        <div class="m-2">
        <%if(!tournamentData.groups.length){%>
          <div class="btn btn-lg btn-block btn-lg btn-danger">No Group Added Till Now.</div>
        <%}%>
        <%tournamentData.groups.forEach((group,index1)=>{%>
          <div class="bolder text-primary"><strong>Group name - <%=group.groupName%></strong></div>
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col"><strong>Team Name</strong> </th>
                <th scope="col">Match Played</th>
                <th scope="col">Win</th>
                <th scope="col">Loss</th>
                <th scope="col">Draw</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <%group.teams.forEach((team,index2)=>{%>
              <tbody>
                <tr>
                  <th scope="row"><a href="/tournament/firstRound/<%=tournamentData._id%>/<%=index1%>/<%=index2%>/singleTeam"><%=team.teamFullName%> (<%=team.teamShortName%>)</a></th>
                  <td><%=team.matchesPlayed%></td>
                  <td><%=team.matchesWin%></td>
                  <td><%=team.matchesLoss%></td>
                  <td><%=team.tieOrDraw%></td>
                  <td><%=team.totalPoints%></td>
                </tr>
              </tbody>
            <%})%>
          </table>
        <%})%>
        </div>
        <hr>
        <!-- first round part of the tournament ends-->
        <!-- second round/add groups part of the tournament starts -->
        <%if(!tournamentData.isSecondRoundStarted){%>
          <%if(!tournamentData.isAddedAllGroups){%>
            <div class="m-2">
              <h4>
                <strong class="bolder">Add Group Teams :</strong>
              </h4>
              <form action="/tournament/<%=tournamentData._id%>/add-group" method="POST" id="addGroupsOnTournament">
                <div class="form-group">
                  <label for="groupName" class="text-muted mb-1"><small>Select Group Name</small></label>
                  <select required id="groupName" class="form-control" name="groupName" form="addGroupsOnTournament">
                    <%tournamentData.addedGroups.forEach((group)=>{%>
                      <option value="<%=group%>">Group <%=group%></option>
                    <%})%>
                    <option value="ALL">All teams in single group</option>
                  </select>
                </div>
                
                  <label for="groupTeam" class="text-muted mb-1"><small>Group Teams</small></label>
                  <ul id="addedTeams" class="list-group ">
                  </ul>
                
                <input type="hidden" id="allTeams" name="allTeams">
                <button id="submitGroupsButton" class="btn btn-sm btn-primary">Submit Group Teams</button>
              </form>
              <hr>
              <h5 class="bolder text-primary">Enter team name:</h5>
              <div class="jumbotron p-3 shadow-sm">
                <form id="create-team-form" >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="teamFullName" class="text-muted mb-1"><small>Team full name</small></label>
                        <input required  id="teamFullName" class="form-control" type="text" placeholder="Enter team name(full)" autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="teamShortName" class="text-muted mb-1"><small>Team short name</small></label>
                        <input required  id="teamShortName" class="form-control" type="text" placeholder="Enter team name(short)" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                  <button id="add-player-button" class="btn btn-primary">Add Team On Group</button>
                </form>
                <hr>
                <form id="markAsAdded" action="/tournament/<%=tournamentData._id%>/allGroupsAdded" method="POST">
                  <button id="allGroupsAdded" class="btn btn-secondary btn-block btn-lg">Click to mark all groups added.</button>
                </form>
              </div>
            </div>
            <script src="/addGroupTeams.js"></script> 
          <%}else{%>
            <div class="ml-2 mr-2">
              <button class="btn btn-info btn-block btn-lg">ALL GROUPS ARE ADDED!</button>
            </div>
          <%}%>
          <hr>
          <div class="m-2">
            <a href="/tournament/qualified/<%=tournamentData._id%>/second-round-teams" >
              <div class="btn btn-lg btn-warning btn-block text-center">
              Add Second Round Qualified Teams
              </div>
            </a>
          </div>
        <%}else{%>
          <h4>
            <strong class="bolder ml-2">Qualified teams for - <%=tournamentData.secondRoundName%></strong>
          </h4>
          
          <div class="m-2">
          <%tournamentData.secondRoundGroups.forEach((group,index1)=>{%>
            <div class="bolder text-primary"><strong>Group name - <%=group.groupName%></strong></div>
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col"><strong>Team Name</strong> </th>
                  <th scope="col">Match Played</th>
                  <th scope="col">Win</th>
                  <th scope="col">Loss</th>
                  <th scope="col">Draw</th>
                  <th scope="col">Points</th>
                </tr>
              </thead>
              <%group.teams.forEach((team,index2)=>{%>
                <tbody>
                  <tr>
                    <th scope="row"><a href="/tournament/firstRound/<%=tournamentData._id%>/<%=index1%>/<%=index2%>/singleTeam"><%=team.teamFullName%> (<%=team.teamShortName%>)</a></th>
                    <td><%=team.matchesPlayed%></td>
                    <td><%=team.matchesWin%></td>
                    <td><%=team.matchesLoss%></td>
                    <td><%=team.tieOrDraw%></td>
                    <td><%=team.totalPoints%></td>
                  </tr>
                </tbody>
              <%})%>
            </table>
          <%})%>
          </div>
        <%}%>  
        <!-- second round/add group part of the tournament ends-->



      <!-- fixture link portion starts -->
      <hr>
        <div class="m-2">
        <%if(!tournamentData.fixtureLink){%>
          <form action="/tournament/<%=tournamentData._id%>/add-fixture-link" method="POST">
            <div class="d-flex align-items-center">
              <input id="create-field" name="fixtureLink" placeholder="Paste the link of tournament fixture."  autocomplete="off" class="form-control" required type="text" style="flex: 1;">
              <button id="add-fixture-button" class="btn btn-primary">Submit Link</button>
            </div>
          </form>
        <%}else{%>
          <div>
            <p><strong>Link : </strong> <%=tournamentData.fixtureLink%></p>
            <button id="match-success-button" class="btn btn-success btn-block">Fixture added</button>
          </div>   
        <%}%>
        </div>
        <%if(tournamentData.isSecondRoundStarted){%>
          <div class="m-2">
          <%if(!tournamentData.secondRoundFixtureLink){%>
            <form action="/tournament/<%=tournamentData._id%>/add-second-round-fixture-link" method="POST">
              <div class="d-flex align-items-center">
                <input  name="secondRoundFixtureLink" placeholder="Paste the link of second round fixture."  autocomplete="off" class="form-control" required type="text" style="flex: 1;">
                <button  class="btn btn-primary">Submit Fixture Link</button>
              </div>
            </form>
            <hr>
          <%}else{%>
            <div>
              <p><strong>Link : </strong> <%=tournamentData.secondRoundFixtureLink%></p>
              <button id="match-success-button" class="btn btn-success btn-block">Fixture link added</button>
            </div>   
          <%}%>
          </div>
        <%}%>
        <!-- fixture link portion ends -->

      </div>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

<!-- *******end here******* -->















  <%- include('includes/footer') %>
