<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
      </div>
      <hr> 
    </div>
    <h5 class="bolder"><strong>Performance Details :</strong></h5>
        <div class="row">
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Batting Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%; color: #007bff;">
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      <%=compareData.visitedUserData.userName%>
                    </th>
                    <th scope="col" style="width: 30%;"><strong>VS</strong></th>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      YOU
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.matches%></td>
                    <td>Matches </td>
                    <td><%=compareData.visitorUserPerformance.matches%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.innings%></td>
                    <td>Innings</td>
                    <td><%=compareData.visitorUserPerformance.batting.innings%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.runs%></td>
                    <td>Runs</td>
                    <td><%=compareData.visitorUserPerformance.batting.runs%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.balls%></td>
                    <td>Balls</td>
                    <td><%=compareData.visitorUserPerformance.batting.balls%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.fours%></td>
                    <td>Fours</td>
                    <td><%=compareData.visitorUserPerformance.batting.fours%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.sixes%></td>
                    <td>Sixes</td>
                    <td><%=compareData.visitorUserPerformance.batting.sixes%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.fifties%></td>
                    <td>Fifties</td>
                    <td><%=compareData.visitorUserPerformance.batting.fifties%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.hundreds%></td>
                    <td>Hundreds</td>
                    <td><%=compareData.visitorUserPerformance.batting.hundreds%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.batting.notOut%></td>
                    <td>Not Out</td>
                    <td><%=compareData.visitorUserPerformance.batting.notOut%></td>
                  </tr>
                  <tr>
                    <td><a href="/singleRoomShortDetails/<%=compareData.visitedUserPerformance.batting.hightRun.matchId%>"><%= compareData.visitedUserPerformance.batting.hightRun.runs %>(<%= compareData.visitedUserPerformance.batting.hightRun.balls %>)</a></td>
                    <td>Hight Runs</td>
                    <td><a href="/singleRoomShortDetails/<%=compareData.visitorUserPerformance.batting.hightRun.matchId%>"><%= compareData.visitorUserPerformance.batting.hightRun.runs %>(<%= compareData.visitorUserPerformance.batting.hightRun.balls %>)</a></td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Bowling Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead >
                  <tr>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      <%=compareData.visitedUserData.userName%>
                    </th>
                    <th scope="col" style="width: 30%;"><strong>VS</strong></th>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      YOU
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.matches%></td>
                    <td>Matches </td>
                    <td><%=compareData.visitorUserPerformance.matches%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.innings%></td>
                    <td>Innings</td>
                    <td><%=compareData.visitorUserPerformance.bowling.innings%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.runs%></td>
                    <td>Runs Given</td>
                    <td><%=compareData.visitorUserPerformance.bowling.runs%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.overs%></td>
                    <td>Overs</td>
                    <td><%=compareData.visitorUserPerformance.bowling.overs%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.wickets%></td>
                    <td>Wickets</td>
                    <td><%=compareData.visitorUserPerformance.bowling.wickets%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.madenOvers%></td>
                    <td>Maden Ovs</td>
                    <td><%=compareData.visitorUserPerformance.bowling.madenOvers%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.wideBalls+compareData.visitedUserPerformance.bowling.noBalls%></td>
                    <td>Extra Runs</td>
                    <td><%=compareData.visitorUserPerformance.bowling.wideBalls+compareData.visitorUserPerformance.bowling.noBalls%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.threeWickets%></td>
                    <td>3 wickets</td>
                    <td><%=compareData.visitorUserPerformance.bowling.threeWickets%></td>
                  </tr>
                  <tr>
                    <td><%=compareData.visitedUserPerformance.bowling.fiveWickets%></td>
                    <td>5 wickets</td>
                    <td><%=compareData.visitorUserPerformance.bowling.fiveWickets%></td>
                  </tr>
                  <tr>
                    <td><a href="/singleRoomShortDetails/<%=compareData.visitedUserPerformance.bowling.hightWicket.matchId%>"><%= compareData.visitedUserPerformance.bowling.hightWicket.wickets %></a></td>
                    <td>Hight wickets</td>
                    <td><a href="/singleRoomShortDetails/<%=compareData.visitorUserPerformance.bowling.hightWicket.matchId%>"><%= compareData.visitorUserPerformance.bowling.hightWicket.wickets %></a></td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
<hr>
<h5 class="bolder"><strong>Common Match Details :</strong></h5>
  <%if(!commonMatches.length){%>
    <div class="btn btn-warning btn-lg btn-block">
      <strong>No Common Match Available!!</strong>
    </div>
  <%}%>
  
  <%for(let i=commonMatches.length-1;i>=0;i--){%>
  <!-- ******match details structure starting**** -->
  <div class=" mb-2">
    <div class="item-container" > 
        <div class="post-header" style="width: 100%;display: flex;">
          <div class="mr-auto" style="padding-left: 5px;">
            <div style="margin: 0;padding: 0;">
            <strong class="text-primary">Common Match Number : <%=i+1%></strong>
            </div>
            <div style="margin: 0;padding: 0;">
              <i><span><%=commonMatches[i].matchData.tournamentName%>-<%=commonMatches[i].matchData.tournamentYear%> Played on <%=commonMatches[i].matchData.matchDate%></span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
            </div>
          </div>
          <div class="float-right">
            <div style="margin-right: 8px;">
              <div>
                <strong><span class="text-warning"><%=commonMatches[i].matchData.visitorTeam%>(own)</span> vs <span class="text-primary"><%=commonMatches[i].matchData.secondTeam%></span></strong>
              </div>
              <div class="text-center">
                <strong class="text-info">
                  <%if(commonMatches[i].matchData.visitorTeam==commonMatches[i].matchData.visitedTeam){%>
                    (same_team)
                  <%}else{%>
                    (opponent)
                  <%}%>
                </strong>
              </div>
              
              <!-- <strong><i class="fas fa-ellipsis-h"></i></strong> -->
            </div>
          </div>
        </div>
      <hr style="margin-bottom: .35rem;margin-top: 2px;">
      <!-- performance details will be here -->
      <div class="bolder">Batting Performance :</div>
      <table class="table table-sm table-bordered " >
        <tr>
          <td><strong>Player</strong></td>
          <td><strong>Runs</strong></td>
          <td><strong>Balls</strong></td>
          <td><strong>4's</strong></td>
          <td><strong>6's</strong></td>
          <td><strong>SR</strong></td>
          <td><strong>Out</strong></td>
        </tr>
        <tr>
          <td><strong class="text-secondary"><%=compareData.visitedUserData.userName%></strong></td>
          <%if(!commonMatches[i].visitedBattingData){%>
            <td colspan="6">
              <div class="btn btn-outline-secondary btn-sm btn-block">
                <%=compareData.visitedUserData.userName%> did not bat in that match.
              </div>
            </td>
          <%}else{%>
            <td><%=commonMatches[i].visitedBattingData.runs%></td>
            <td><%=commonMatches[i].visitedBattingData.balls%></td>
            <td><%=commonMatches[i].visitedBattingData.fours%></td>
            <td><%=commonMatches[i].visitedBattingData.sixes%></td>
            <td><%=((commonMatches[i].visitedBattingData.runs*100)/commonMatches[i].visitedBattingData.balls).toFixed(2)%></td>
            <td>
              <%if(!commonMatches[i].visitedBattingData.isOut){%>
                NO
              <%}else{%>
                <%=commonMatches[i].visitedBattingData.outType%>
              <%}%>
            </td>
          <%}%>
        </tr>
        <tr>
          <td><strong class="text-secondary">YOU</strong></td>
          <%if(!commonMatches[i].visitorBattingData){%>
            <td colspan="6">
              <div class="btn btn-outline-secondary btn-sm btn-block">
                You did not bat in that match.
              </div>
            </td>
          <%}else{%>
            <td><%=commonMatches[i].visitorBattingData.runs%></td>
            <td><%=commonMatches[i].visitorBattingData.balls%></td>
            <td><%=commonMatches[i].visitorBattingData.fours%></td>
            <td><%=commonMatches[i].visitorBattingData.sixes%></td>
            <td><%=((commonMatches[i].visitorBattingData.runs*100)/commonMatches[i].visitorBattingData.balls).toFixed(2)%></td>
            <td>
              <%if(!commonMatches[i].visitorBattingData.isOut){%>
                NO
              <%}else{%>
                <%=commonMatches[i].visitorBattingData.outType%>
              <%}%>
            </td>
          <%}%>
        </tr>
        
      </table>
      <table class="table table-sm table-bordered" >
        <tr>
          <div class="bolder">Bowling Performance :</div>
          <td><strong>Player</strong></td>
          <td><strong>Runs</strong></td>
          <td><strong>Ovrs</strong></td>
          <td><strong>Wkt</strong></td>
          <td><strong>Mdn</strong></td>
          <td><strong>Wd</strong></td>
          <td><strong>No</strong></td>
        </tr>
        <tr>
          <td><strong class="text-secondary"><%=compareData.visitedUserData.userName%></strong></td>
          <%if(!commonMatches[i].visitedBowlingData){%>
            <td colspan="6">
              <div class="btn btn-outline-secondary btn-sm btn-block">
                <%=compareData.visitedUserData.userName%> did not bowl in that match.
              </div>
            </td>
          <%}else{%>
            <td><%=commonMatches[i].visitedBowlingData.runs%></td>
            <td><%=commonMatches[i].visitedBowlingData.overs%></td>
            <td><%=commonMatches[i].visitedBowlingData.wickets%></td>
            <td><%=commonMatches[i].visitedBowlingData.madenOvers%></td>
            <td><%=commonMatches[i].visitedBowlingData.wideBalls%></td>
            <td><%=commonMatches[i].visitedBowlingData.noBalls%></td>
          <%}%>
        </tr>
        <tr>
          <td><strong class="text-secondary">YOU</strong></td>
          <%if(!commonMatches[i].visitorBowlingData){%>
            <td colspan="6">
              <div class="btn btn-outline-secondary btn-sm btn-block">
                You did not bowl in that match.
              </div>
            </td>
          <%}else{%>
            <td><%=commonMatches[i].visitorBowlingData.runs%></td>
            <td><%=commonMatches[i].visitorBowlingData.overs%></td>
            <td><%=commonMatches[i].visitorBowlingData.wickets%></td>
            <td><%=commonMatches[i].visitorBowlingData.madenOvers%></td>
            <td><%=commonMatches[i].visitorBowlingData.wideBalls%></td>
            <td><%=commonMatches[i].visitorBowlingData.noBalls%></td>
          <%}%>
        </tr>
      </table>
      
      
      <hr style="margin-bottom: 5px;margin-top:1px;">
      <!-- comment section -->
      <div style="width: 100%; border-radius: 5px;">
        <div style="display: flex;"> 
          <div class="p-2 bg-warning" style="width: 100%; display: flex;"> 
            <div style="width: 100%;"><strong><%=commonMatches[i].matchData.winningStatus%></strong></div>
          </div>
          <div class="btn btn-primary">
            <a href="/singleRoomShortDetails/<%=commonMatches[i].matchData.matchId%>" style="color: #fff;">
              Match_Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ********match details structure ends******** -->
  <%}%>

  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
  <%- include('includes/footer') %>
