<%- include('includes/header') %>

    
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
          <div class="single-batch-data">
            <div style="position: relative;">
              <img class="match-room-sponsor-image"  src="/images/sohag.jpg" alt="">
            </div>
            <div class="bolder text-center text-primary p-1" ><strong><%=room.matchDetails.firstTeam%> VS <%=room.matchDetails.secondTeam%></strong></div>
            
          </div>
          <a class="small font-weight-bold" href="/singleRoomShortDetails/<%=room.matchId%>">&laquo; Back to Short Details</a>

          <div class="scoreUpperPart btn-block row mb-2" style="margin-left: 0">
            <div class="container">
              
                <div class="p_zero">
                  <p class="text-uppercase"><strong><%=room.matchDetails.tournamentName%>  
                    <%if(room.matchDetails.secondRoundName){%>
                      | <%=room.matchDetails.secondRoundName%>
                    <%}%>
                    | Match no :<%=room.matchDetails.matchNumber%> </strong>
                  </p>
                  <p ><strong>Venue -</strong> <%=room.matchDetails.venue%></p>
                  <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished){%>
                    <%if(!room.matchCancled.hasCancled){%>
                      <p class="fontBolder " style="color: red;display: inline-block;"><i class="fas fa-circle"></i> Live</p>
                    <%}else{%>
                      <p class="fontBolder " style="color: red;display: inline-block;"><strong><%=room.matchCancled.canclationMessage%></strong></p>
                    <%}%>
                  <%}%>
                </div>
              
              
              <!-- this is body part of the score card -->
              <div class="container scoreLowerPart p_zero pb-1">
                <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished && room.matchDetails.tossWonBy){%>
                  <%if(room.emergency.hasEmergency){%>
                    <p class="text-danger"><strong><%=room.emergency.emergencyMessage%></strong></p>
                  <%}%>
                  <p ><strong style="color: orangered;"><%=room.tossDetails%></strong></p>
                    <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                    <p><i>-1st Innings</i>
                      <%if(room.matchDetails.isInningsCompleted){%>
                        <strong style="color: red;">(break)</strong>
                      <%}%>
                    </p>
                    <p ><strong><%=room.batting.firstBattingTeam%></strong> - <%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>   </p>
                    <p ><strong>Overs - </strong><%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%>  (<%=room.matchDetails.overs%> ovs.)</p>
                    <p><strong>CRR - </strong><%=room.crr%></p>
                    <%}else if(room.matchDetails.inningsStatus=="2nd Innings"){%>
                      
                      <p class="btn btn-sm btn-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%> ovs.) </p>
                    
                    <p ><i>-2nd Innings</i></p>
                    
                      <a href="/secondInningsDetails/<%=room.matchId%>">
                        <p class="btn btn-sm btn-outline-info"><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  (<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%>) </p>
                      </a>
                   
                     <%}else{%>
                    <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
                    <a style="display: block;margin-bottom: 2px;" href="/firstInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <a href="/secondInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <%}%>
                    
                <%}else if(room.matchDetails.isFinished){%>
                    <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
                    <a style="display: block;margin-bottom: 2px;" href="/firstInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <a href="/secondInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <p style="color: red;">Man of the match : <%=room.matchDetails.manOfTheMatch%>.</p>
                <%}else{%>
                <p ><strong><%=room.matchDetails.firstTeam%></strong></p>
                <p ><strong><%=room.matchDetails.secondTeam%></strong></p>
                <%}%>
              </div>
      
              <hr />
              <strong>1st Innings</strong>
              <p class=" btn-block btn-info"><strong>
                Batting | <%=room.batting.firstBattingTeam%> :
              <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                <%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%> 
              <%}else{%>
                <%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>
              <%}%>
              </strong>
              </p>
                <table class="table table-sm table-borderless">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 40%;">Player</th>
                      <th scope="col" style="width: 15%;">R(B)</th>
                      <th scope="col" style="width: 15%;">4's</th>
                      <th scope="col" style="width: 15%;">6's</th>
                      <th scope="col" style="width: 15%;">SR</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <%room.firstInningsBatting.allBatsman.forEach((batsman,index)=>{%>
                        <tr>
                          <th scope="row"><a href="/batsman/<%=room.matchId%>/<%=index%>/first/inningsDetails"><%=batsman.name%></a></th>
                        <td><%=batsman.runs%>(<%=batsman.balls%>)</td>
                        <td><%=batsman.fours%></td>
                        <td><%=batsman.sixes%></td>
                        <td><%=(batsman.runs*100/batsman.balls).toFixed(2)%></td>
                        </tr>
                        <tr>
                          <%if(batsman.isOut){%>
                            <%if(batsman.outType=="caught-out"){%>
                              <td colspan="5"><p>c <i> <%=batsman.filderName%>  b <%=batsman.outBy%></i></p></td>
                            <%}else if(batsman.outType=="lbw"){%>
                              <td colspan="5"><p>lbw b <%=batsman.outBy%></p></td>
                            <%}else if(batsman.outType=="bowled"){%>
                              <td colspan="5"><p>b <%=batsman.outBy%></p></td>
                            <%}else if(batsman.outType=="run-out"){%>
                              <td colspan="5"><p>Run Out (<%=batsman.filderName%>)</p></td>
                            <%}else if(batsman.outType=="stumping-out"){%>
                              <td colspan="5"><p>stmp <%=batsman.filderName%> b <%=batsman.outBy%></p></td>
                            <%}else if(batsman.outType=="hit-wicket"){%>
                              <td colspan="5"><p>hit-out </p></td>
                            <%}%>
                          <%}else if(batsman.isRetiredHurt){%>
                            <td colspan="5"><p>retire-hurt</p></td>
                          <%}else if(room.matchDetails.inningsStatus=="1st Innings"){%>
                            <td colspan="5"><p>Batting</p></td>
                          <%}else{%>
                            <td colspan="5" ><p>Not out</p></td>
                          <%}%> 
                        </tr>
                      <%})%>
                  </tbody>
                </table>
              <hr />
                <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                  <strong>Extras - <%=room.extras.totalWideBalls+room.extras.totalNoBalls+room.extras.totalByeRuns+room.extras.totalLegByeRuns+room.extras.paneltyRuns%></strong>
                  <p>(nb <%=room.extras.totalNoBalls%>,b <%=room.extras.totalByeRuns%>,panelty <%=room.extras.paneltyRuns%>,wd <%=room.extras.totalWideBalls%>,lb <%=room.extras.totalLegByeRuns%>)</p>
                  <hr>
                  <strong>Total - <%=room.liveScore.totalRuns%></strong>
                  <p>(<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%> ovrs,<%=room.liveScore.totalWickets%> Wkts) RR <%=room.crr%></p>
              
                <%}else{%>
                  <strong>Extras - <%=room.firstInningsExtras.totalWideBalls+room.firstInningsExtras.totalNoBalls+room.firstInningsExtras.totalByeRuns+room.firstInningsExtras.totalLegByeRuns+room.firstInningsExtras.paneltyRuns%></strong>
                  <p>(nb <%=room.firstInningsExtras.totalNoBalls%>,b <%=room.firstInningsExtras.totalByeRuns%>,panelty <%=room.firstInningsExtras.paneltyRuns%>,wd <%=room.firstInningsExtras.totalWideBalls%>,lb <%=room.firstInningsExtras.totalLegByeRuns%>)</p>
                  <hr>
                  <strong>Total - <%=room.firstInningsScore.totalRuns%></strong>
                  <p>(<%=room.firstInningsScore.totalOvers%> ovrs,<%=room.firstInningsScore.totalWickets%> Wkts) RR <%=(room.firstInningsScore.totalRuns/room.firstInningsScore.totalOvers).toFixed(2)%></p>
              
                <%}%>
              <hr>
              
                
              <p class=" btn-block btn-info"><strong>Bowling</strong></p>
              <table class="table table-sm table-borderless">
                <thead>
                  <tr>
                    <th scope="col" style="width: 40%;">Bowler</th>
                    <th scope="col" style="width: 12%;">Ovs</th>
                    <th scope="col" style="width: 12%;">Mdn</th>
                    <th scope="col" style="width: 12%;">Run</th>
                    <th scope="col" style="width: 12%;">Wkt</th>
                    <th scope="col" style="width: 12%;">Eco</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <%room.firstInningsBowling.allBowlers.forEach((bowler,index)=>{%>
                      <%let balls=0%>
                      <%let ECO %>
                      <%if(index==room.state.bowlerIndex && room.matchDetails.inningsStatus=="1st Innings"){%>
                        <%balls=room.eachOver.ballNumber%>
                      <%}%>
                      <%ECO=(bowler.runs*6)/((bowler.overs*6)+balls)%>
                      <tr>
                      <th scope="row"><%=bowler.name%></th>
                      <td><%=bowler.overs%>.<%=balls%></td>
                      <td><%=bowler.madenOvers%></td>
                      <td><%=bowler.runs%></td>
                      <td><%=bowler.wickets%></td>
                      <td><%=ECO.toFixed(2)%></td>
                    </tr>
                    <%})%>
                  
                </tbody>
              </table>
              <hr>
              <p class="btn-block btn-info"><strong>Fall of wickets</strong></p>
              <%if(!room.firstInningsFallOfWickets.length){%>
                  <div colspan="3" class="btn btn-sm btn-primary btn-block">No wicket has been fallen till now!</div>            
              <%}else{%>
              <table class="table table-sm table-borderless">
                <thead>
                  <tr>
                    <th scope="col" style="width: 40%;">Player</th>
                    <th scope="col" style="width: 20%;">Wkt</th>
                    <th scope="col" style="width: 20%;">Runs</th>
                    <th scope="col" style="width: 20%;">Ovs</th>                
                  </tr>
                </thead>
                <tbody>
                    <%room.firstInningsFallOfWickets.forEach((wicket,index)=>{%>
                    <tr>
                      <th scope="row"><%=wicket.batsman%></td>
                      <td><%=index+1%></th>
                      <td><%=wicket.runs%></td>
                      <td><%=wicket.overs%></td>
                    </tr>
                    <%})%>
                </tbody>
              </table>
              <%}%>
              <!-- in this section i have to add dynamic values -->
              
              
              
              
              <hr />
              <p class=" btn-block btn-info"><strong> Match Info</strong></p>
              <%- include('includes/matchInfo') %>
            </div>
          </div>
    </div>
  <div class="col-lg"></div>
</div>
   
  

<%- include('includes/footer') %>
