<%- include('includes/header') %>
<%- include('includes/flash') %>


<!-- scoring rooms starts -->
<div class="container mt-1 mb-1">
  <%if(!rooms.length){%>
    <h4 class="text-center"><strong>No match available now.</strong></h4>
  <%}%>
  <div class="container">
  <div class="row align-items-center "> 
    <%rooms.forEach((room)=>{%>       
      <div class="scoreUpperPart btn-block row" style="margin-left: 0;">
        <!-- this is header part of score card -->
        <div class="container">
          <div class="p_zero">
            <p class="text-uppercase"><strong><%=room.matchDetails.tournamentName%>  
              <%if(room.matchDetails.secondRoundName){%>
                | <%=room.matchDetails.secondRoundName%>
              <%}%>
              | Match no :<%=room.matchDetails.matchNumber%> </strong>
            </p>
            <p ><strong>Venue -</strong> <%=room.matchDetails.venue%></p>
          </div>
        </div>
        <!-- this is body part of the score card -->
        <div class="container scoreLowerPart p_zero">
          <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished && room.matchDetails.tossWonBy){%>
            <%if(room.emergency.hasEmergency){%>
              <p class="text-danger"><strong><%=room.emergency.emergencyMessage%></strong></p>
            <%}%>
            <p ><strong style="color: orangered;"><%=room.tossDetails%></strong></p>
              <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
              <p><i>-1st Innings</i>
                <%if(room.matchDetails.isInningsCompleted){%>
                  <strong style="color: red;">(break)</strong>
                <%}%>
              </p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  (<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-</p>
              <%}else if(room.matchDetails.inningsStatus=="2nd Innings"){%>
              <p ><i>-2nd Innings</i><strong>| Target - </strong><%=room.matchDetails.target%> (in <strong><%=room.matchDetails.overs%></strong> ovs.)</p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  (<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%> ovs.)</p>
              <%}else{%>
              <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.)</p>
              <%}%>  
          <%}else if(room.matchDetails.isFinished){%>
              <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.)</p>
              <p style="color: red;">Man of the match : <%=room.matchDetails.manOfTheMatch%>.</p>
          <%}else{%>
          <p class="text-uppercase"><strong><%=room.matchDetails.firstTeam%></strong></p>
          <p class="text-uppercase"><strong><%=room.matchDetails.secondTeam%></strong></p>
          <%}%>
        </div>
        <!-- this is the footer part of the score card -->
        <div class="container">
          <div class="p_zero">
              <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished){%>
                <%if(!room.matchCancled.hasCancled){%>
                  <p class="fontBolder " style="color: red;display: inline-block;"><i class="fas fa-circle"></i> Live</p>
                <%}else{%>
                  <p class="fontBolder " style="color: red;display: inline-block;"><strong><%=room.matchCancled.canclationMessage%></strong></p>
                <%}%>
              <p class="float-right "><strong>Scoring by-</strong> <%=room.matchDetails.scorerName%></p>
              <%}else if(room.matchDetails.isFinished){%>
                <p class="float-right"><strong>Scored by-</strong> <%=room.matchDetails.scorerName%></p>
              <%}else{%>
                <p >Starts at <%=room.matchDetails.matchStartingTime%> on <%=room.matchDetails.dateOfTheMatch%></p>
              <%}%>
          </div>
          <strong><a href="/singleRoomShortDetails/<%=room.matchId%>" class="text-center">Details</a></strong>
        </div> 
      </div>
      <%})%>
  </div>
</div>
</div>

<!-- scoring rooms ends -->

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>One Lession At A Time</h1>
      <p>One step ahead to make your performance batter.</p>
    </div>
    
    
    
    <div class=" item-container container " style="background-color:#f0f2f5 ;">
      <!-- matches and notice parts starting part here -->
      <div class="path">
        <div class="row ">
          <div class="col-md-6" style="width: 100%;">
            <h5>Become a tutor and make an impact on society.</h5>
            <%if(!user){%>
            <a href="/sign-up">
              <div class="btn btn-primary"><i class="fas fa-user-plus"></i>&nbsp; Sign up an account</div>
            </a>
            <%}else{%>
              <div class="btn btn-success">Welcome to uteach community</div>
            <%}%>
            <hr style="margin: 8px;" class="visibleItemsOnCollapse">
          </div>
          
          <div class="col-md-6">
            <h5>Search home-tutors or batch-tutors in your area.</h5>
            <a href="/search-home-tuitor-form">
              <div class="btn btn-secondary header-search-icon"><i class="fas fa-search"></i>&nbsp; Search Teacher</div>
            </a> 
          </div>
        </div>
      </div>
       <!-- matches and notice parts ending part here -->
      <hr>
      <h5 class="bolder">Top Batters in Siliguri</h5>
      <div class="teacher-banner-container pb-1">
        
          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

          <div class="top-batters">
            <img class="teacher-image"  src="/images/sohag.jpg" alt="">
            <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
              <strong class="d-block">Sohag Roy</strong>
              <span class="d-block"><strong>Total Runs : 120</strong> </span>
              <span class="d-block"><strong>Total Matches : 3</strong> </span>
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  View profile
                </div>
              </a> 
              <a href="/profile/21sclwopl0025">
                <div class="class btn btn-primary btn-sm">
                  Compare
                </div>
              </a>   
            </div>
          </div>

        </div>
    </div>

    
  <div class=" item-container container " style="background-color:#f0f2f5 ;">
    <h5 class="bolder">Top Bowlers in Siliguri</h5>
    <div class="teacher-banner-container pb-1">
      
        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Total Runs : 120</strong> </span>
            <span class="d-block"><strong>Total Matches : 3</strong> </span>
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                View profile
              </div>
            </a> 
            <a href="/profile/21sclwopl0025">
              <div class="class btn btn-primary btn-sm">
                Compare
              </div>
            </a>   
          </div>
        </div>

    </div>
  </div>

<div class=" item-container container " style="background-color:#f0f2f5 ;">
  <h5 class="bolder">Top All-rounders in Siliguri</h5>
  <div class="teacher-banner-container pb-1">
    
      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <strong class="d-block">Sohag Roy</strong>
          <span class="d-block"><strong>Total Runs : 120</strong> </span>
          <span class="d-block"><strong>Total Matches : 3</strong> </span>
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              View profile
            </div>
          </a> 
          <a href="/profile/21sclwopl0025">
            <div class="class btn btn-primary btn-sm">
              Compare
            </div>
          </a>   
        </div>
      </div>

  </div>
  <hr>
   <!-- matches and notice parts starting part here -->
   <div class="path">
    <div class="row ">
      <div class="col-md-6" style="width: 100%;">
        <h5>Become a tutor and make an impact on society.</h5>
        <%if(!user){%>
        <a href="/sign-up">
          <div class="btn btn-primary"><i class="fas fa-user-plus"></i>&nbsp; Sign up an account</div>
        </a>
        <%}else{%>
          <div class="btn btn-success">Welcome to uteach community</div>
        <%}%>
        <hr style="margin: 8px;" class="visibleItemsOnCollapse">
      </div>
      
      <div class="col-md-6">
        <h5>Search home-tutors or batch-tutors in your area.</h5>
        <a href="/search-home-tuitor-form">
          <div class="btn btn-secondary header-search-icon"><i class="fas fa-search"></i>&nbsp; Search Teacher</div>
        </a> 
      </div>
    </div>
  </div>
   <!-- matches and notice parts ending part here -->
</div>


  </div>
  <div class="col-lg-1"></div>
</div>




  
<%- include('includes/footer') %>