<%- include('includes/header') %>
<%- include('includes/flash') %>


<!-- scoring rooms starts -->
<div class="container mt-1 mb-1">
  
  <div class="container">
  <div class="row align-items-center "> 
    <%liveRooms.forEach((room)=>{%>       
      <div class="scoreUpperPart btn-block row" style="margin-left: 0;">
        <!-- this is header part of score card -->
        <div class="container">
          <div class="p_zero">
            <p class="text-uppercase"><strong><%=room.matchDetails.tournamentName%>  
              <%if(room.matchDetails.secondRoundName){%>
                | <%=room.matchDetails.secondRoundName%>
              <%}%>
              | Match no :<%=room.matchDetails.matchNumber%> </strong>
            </p>
            <p ><strong>Venue -</strong> <%=room.matchDetails.venue%></p>
          </div>
        </div>
        <!-- this is body part of the score card -->
        <div class="container scoreLowerPart p_zero">
          <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished && room.matchDetails.tossWonBy){%>
            <%if(room.emergency.hasEmergency){%>
              <p class="text-danger"><strong><%=room.emergency.emergencyMessage%></strong></p>
            <%}%>
            <p ><strong style="color: orangered;"><%=room.tossDetails%></strong></p>
              <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
              <p><i>-1st Innings</i>
                <%if(room.matchDetails.isInningsCompleted){%>
                  <strong style="color: red;">(break)</strong>
                <%}%>
              </p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  (<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-</p>
              <%}else if(room.matchDetails.inningsStatus=="2nd Innings"){%>
              <p ><i>-2nd Innings</i><strong>| Target - </strong><%=room.matchDetails.target%> (in <strong><%=room.matchDetails.overs%></strong> ovs.)</p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  (<%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%> ovs.)</p>
              <%}else{%>
              <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.)</p>
              <%}%>  
          <%}else if(room.matchDetails.isFinished){%>
              <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
              <p ><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
              <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.)</p>
              <p style="color: red;">Man of the match : <%=room.matchDetails.manOfTheMatch%>.</p>
          <%}else{%>
          <p class="text-uppercase"><strong><%=room.matchDetails.firstTeam%></strong></p>
          <p class="text-uppercase"><strong><%=room.matchDetails.secondTeam%></strong></p>
          <%}%>
        </div>
        <!-- this is the footer part of the score card -->
        <div class="container">
          <div class="p_zero">
              <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished){%>
                <%if(!room.matchCancled.hasCancled){%>
                  <p class="fontBolder " style="color: red;display: inline-block;"><i class="fas fa-circle"></i> Live</p>
                <%}else{%>
                  <p class="fontBolder " style="color: red;display: inline-block;"><strong><%=room.matchCancled.canclationMessage%></strong></p>
                <%}%>
              <p class="float-right "><strong>Scoring by-</strong> <%=room.matchDetails.scorerName%></p>
              <%}else if(room.matchDetails.isFinished){%>
                <p class="float-right"><strong>Scored by-</strong> <%=room.matchDetails.scorerName%></p>
              <%}else{%>
                <p >Starts at <%=room.matchDetails.matchStartingTime%> on <%=room.matchDetails.dateOfTheMatch%></p>
              <%}%>
          </div>
          <strong><a href="/singleRoomShortDetails/<%=room.matchId%>" class="text-center">Details</a></strong>
        </div> 
      </div>
      <%})%>
  </div>
</div>
</div>

<!-- scoring rooms ends -->

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>One Lession At A Time</h1>
      <p>One step ahead to make your performance batter.</p>
    </div>
  
    <div class=" item-container container " style="background-color:#f0f2f5 ;">
      <!-- matches and notice parts starting part here -->
        <div class="row ">
          <div class="col-md-6 " >
            
              <h5 class="bolder text-success">Upcomming Matches :</h5>
              <div class="guest-home-notice">
                <%if(!upCommingMatches.length){%>
                  <div class="path">
                    <h5 class="text-center"><strong>No upcomming match available!!</strong></h5>
                  </div>
                <%}%>
              <%upCommingMatches.forEach((match)=>{%>
                <!-- match structure starts -->
                <div class="scoreUpperPart btn-block " >
                  <div class="container">
                    <div class="p_zero">
                      <p class="text-uppercase"><strong><%=match.tournamentName%>-<%=match.tournamentYear%> 
                        | Match no : <%=match.matchNumber%> </strong>
                      </p>
                      <p ><strong>Venue -</strong> <%=match.venue%></p>
                    </div>
                  </div>
                  <div class="container scoreLowerPart p_zero">
                    <p class="text-uppercase"><strong><%=match.firstTeam%></strong></p>
                    <p class="text-uppercase"><strong><%=match.secondTeam%></strong></p>
                  </div>
                  <div class="container">
                    <div class="p_zero"> 
                      <p >Starts at <%=match.matchStartingTime%> on <%=match.dateOfTheMatch%></p>
                    </div>
                  </div> 
                  
                </div>
                <!-- match Structure ends -->
              <%})%>
                
              
              
              </div>
              <a href="/matches">
                <button class="btn btn-sm  btn-info btn-block" ><strong>See all upcomming matches <i class="fas fa-arrow-right"></i></strong> </button>
              </a>
              
            <hr style="margin: 8px;" class="visibleItemsOnCollapse">
          </div>
          
          <div class="col-md-6">
            <h5 class="bolder text-warning">New notices :</h5>
              <div class="guest-home-notice">
                <div class="path">
                  <h5 class="text-center"><strong>No new notice available!!</strong></h5>
                </div>
              </div>
              <button class="btn btn-sm  btn-secondary btn-block" ><strong>See all notices <i class="fas fa-arrow-right"></i></strong> </button>    
            </div> 
        </div>
       <!-- matches and notice parts ending part here -->
      <hr>
      <h5 class="bolder"><strong>Top Batters in Siliguri :</strong> </h5>
      <div class="teacher-banner-container pb-1">
          <%top5Players.topBatters.forEach((batter)=>{%>
            <div class="top-batters">
              <img class="teacher-image"  src="/images/sohag.jpg" alt="">
              <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
                <span class="d-block bolder text-primary"><strong><%=batter.userName%></strong></span>
                <strong class="d-block bolder"> Runs : <%=batter.runs%> </strong>
                <strong class="d-block bolder">Matches Played : <%=batter.matchesPlayed%> </strong>
                <%if(user){%>
                  <%if(user.accountType=="player"){%>
                    <%if(user.regNumber==batter.regNumber){%>
                      <a href="/profile/<%=batter.regNumber%>">
                        <button class="btn btn-outline-warning btn-sm btn-block">
                          View Your Profile
                        </button>
                      </a>
                    <%}else{%>
                      <div style="display: flex;">
                        <div style="width: 48%;">
                          <a href="/profile/<%=batter.regNumber%>" >
                            <div class="btn btn-outline-info btn-sm btn-block">
                              View Profile
                            </div>
                          </a>
                        </div>
                        <div style="width: 49%;margin-left: 4px;">
                          <a href="/compare/<%=user.regNumber%>/<%=batter.regNumber%>/performance" >
                            <div class="btn btn-info btn-sm btn-block">
                              Compare
                            </div>
                          </a>
                        </div>
                      </div> 
                    <%}%>          
                  <%}else{%>
                    <a href="/profile/<%=batter.regNumber%>">
                      <button class="btn btn-outline-info btn-sm btn-block">
                        View Profile
                      </button>
                    </a>
                  <%}%>
                <%}else{%>
                  <a href="/profile/<%=batter.regNumber%>">
                    <button class="btn btn-outline-info btn-sm btn-block">
                      View Profile
                    </button>
                  </a>
                <%}%>
              </div>
            </div>
          <%})%>
        </div>
    </div>

    
  <div class=" item-container container " style="background-color:#f0f2f4 ;">
    <h5 class="bolder"><strong>Top Bowlers in Siliguri :</strong> </h5>
    <div class="teacher-banner-container pb-1">
      
      <%top5Players.topBowlers.forEach((bowler)=>{%>
        <div class="top-batters">
          <img class="teacher-image"  src="/images/sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <div class=" bolder text-primary"><strong><%=bowler.userName%></strong></div>
            <strong class="d-block bolder">Wickets : <%=bowler.wickets%> </strong>
            <strong class="d-block bolder">Matches Played : <%=bowler.matchesPlayed%> </strong>
            <%if(user){%>
              <%if(user.accountType=="player"){%>
                <%if(user.regNumber==bowler.regNumber){%>
                  <a href="/profile/<%=bowler.regNumber%>">
                    <button class="btn btn-outline-warning btn-sm btn-block">
                      View Your Profile
                    </button>
                  </a>
                <%}else{%>
                  <div style="display: flex;">
                    <div style="width: 48%;">
                      <a href="/profile/<%=bowler.regNumber%>" >
                        <div class="btn btn-outline-info btn-sm btn-block">
                          View Profile
                        </div>
                      </a>
                    </div>
                    <div style="width: 49%;margin-left: 4px;">
                      <a href="/compare/<%=user.regNumber%>/<%=bowler.regNumber%>/performance" >
                        <div class="btn btn-info btn-sm btn-block">
                          Compare
                        </div>
                      </a>
                    </div>
                  </div> 
                <%}%>          
              <%}else{%>
                <a href="/profile/<%=bowler.regNumber%>">
                  <button class="btn btn-outline-info btn-sm btn-block">
                    View Profile
                  </button>
                </a>
              <%}%>
            <%}else{%>
              <a href="/profile/<%=bowler.regNumber%>">
                <button class="btn btn-outline-info btn-sm btn-block">
                  View Profile
                </button>
              </a>
            <%}%>
          </div>
        </div>
      <%})%>
    </div>
  </div>

<div class=" item-container container " style="background-color:#f0f2f5 ;">
  <h5 class="bolder"><strong>Top All-rounders in Siliguri :</strong></h5>
  <div class="teacher-banner-container pb-1">
    
    <%top5Players.topAllRounders.forEach((allrounder)=>{%>
      <div class="top-batters">
        <img class="teacher-image"  src="/images/sohag.jpg" alt="">
        <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
          <div class="d-block bolder text-primary"><strong><%=allrounder.userName%></strong></div>
          <strong class="d-block bolder"> Runs : <%=allrounder.runs%> </strong>
          <strong class="d-block bolder"> Wickets : <%=allrounder.wickets%> </strong>
          <%if(user){%>
            <%if(user.accountType=="player"){%>
              <%if(user.regNumber==allrounder.regNumber){%>
                <a href="/profile/<%=allrounder.regNumber%>">
                  <button class="btn btn-outline-warning btn-sm btn-block">
                    View Your Profile
                  </button>
                </a>
              <%}else{%>
                <div style="display: flex;">
                  <div style="width: 48%;">
                    <a href="/profile/<%=allrounder.regNumber%>" >
                      <div class="btn btn-outline-info btn-sm btn-block">
                        View Profile
                      </div>
                    </a>
                  </div>
                  <div style="width: 49%; margin-left: 4px;">
                    <a href="/compare/<%=user.regNumber%>/<%=allrounder.regNumber%>/performance" >
                      <div class="btn btn-info btn-sm btn-block">
                        Compare
                      </div>
                    </a>
                  </div>
                </div> 
              <%}%>          
            <%}else{%>
              <a href="/profile/<%=allrounder.regNumber%>">
                <button class="btn btn-outline-info btn-sm btn-block">
                  View Profile
                </button>
              </a>
            <%}%>
          <%}else{%>
            <a href="/profile/<%=allrounder.regNumber%>">
              <button class="btn btn-outline-info btn-sm btn-block">
                View Profile
              </button>
            </a>
          <%}%>
        </div>
      </div>
    <%})%>
  </div>
  <hr>
  <div class="container mt-2 mb-2" style="padding: 0px;">
    <div class="path text-center" style="padding: 1rem;">
        <div class="col" style="width: 100%;">
          <a href="/top-players">
            <div class="btn btn-outline-info btn-sm btn-block"><strong>See all top players in Siliguri <i class="fas fa-arrow-right"></i></strong></div>
          </a>
        </div>
    </div>
  </div>
  <hr>
   <!-- Important persons says part starts here -->
   <div class="row">
     <div class="col-md-6  text-muted">
      <h4 class="bolder"><strong >President's Say :</strong></h4>
      
      <div class="item-container shadow" style="background-color:#f0f2f5 ;">
        <div class="text-center">
          <img class="profile-image mt-2" src="/images/sohag.jpg" />
          <h5 class="bolder text-primary">
            <strong>Sohag Roy</strong>
          </h5>
          </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, veniam ratione repellendus ex laboriosam a laudantium, sint maiores quae deleniti cum explicabo delectus consectetur. Inventore mollitia nihil nobis saepe praesentium veniam, quaerat, necessitatibus id magni officiis, unde sequi tempora ipsam earum est. Totam, nostrum. Numquam at excepturi odio quia sit.</p>
      </div>
      <hr style="margin: 8px;" class="visibleItemsOnCollapse">
          
    </div>
     <div class="col-md-6 text-muted">
      <h4 class="bolder"><strong >Vice-president's Say :</strong></h4>
      <div class="item-container shadow" style="background-color:#f0f2f5 ;">
        <div class="text-center">
          
          <img class="profile-image mt-2" src="/images/sohag.jpg" />
          <h5 class="bolder text-primary">
            <strong>Sohag Roy</strong>
          </h5>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, veniam ratione repellendus ex laboriosam a laudantium, sint maiores quae deleniti cum explicabo delectus consectetur. Inventore mollitia nihil nobis saepe praesentium veniam, quaerat, necessitatibus id magni officiis, unde sequi tempora ipsam earum est. Totam, nostrum. Numquam at excepturi odio quia sit.</p>
      </div>
    </div>
   </div>
   <!-- saying part ends here -->
</div>


  </div>
  <div class="col-lg-1"></div>
</div>




  
<%- include('includes/footer') %>