<%- include('includes/header') %> <%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
        <div>
          <img class="home-profile-image" src="/images/sohag.jpg" />
          <div>
            <h5 class="bolder text-secondary d-inline"><strong>Sohag Roy</strong></h5>
            <h5 class="bolder d-inline float-right"><a href="/player/profile/<%= user.regNumber %>/edit"><i class="fas fa-user"></i> Manage Profile</a></h5>
          </div>  
         </div>
      </div> 
    
        <hr>
        <div class="container mt-2 mb-2" style="padding: 0px;">
          <div class="path text-center" style="padding: 1rem;">
              <div class="col" style="width: 100%;">
                <a href="/practice-match-addition-form">
                  <div class="btn btn-outline-info btn-sm btn-block"><strong>Add Practice Match Details <i class="fas fa-arrow-right"></i></strong></div>
                </a>
              </div>
          </div>
        </div>
        <hr>

        <h5 class="bolder"><strong>Performance Details :</strong></h5>
        <div class="row">
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Batting Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%;color: #007bff;">Tournament Matches</th>
                    <th scope="col" style="width: 30%;"></th>
                    <th scope="col" style="width: 35%;color: #007bff;">Practice Matches</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=performanceData.matches%></td>
                    <td>Matches </td>
                    <td><%=performanceData.practiceMatches%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.innings%></td>
                    <td>Innings</td>
                    <td><%=performanceData.practiceMatchBatting.innings%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.runs%></td>
                    <td>Runs</td>
                    <td><%=performanceData.practiceMatchBatting.runs%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.balls%></td>
                    <td>Balls</td>
                    <td><%=performanceData.practiceMatchBatting.balls%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.fours%></td>
                    <td>Fours</td>
                    <td><%=performanceData.practiceMatchBatting.fours%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.sixes%></td>
                    <td>Sixes</td>
                    <td><%=performanceData.practiceMatchBatting.sixes%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.fifties%></td>
                    <td>Fifties</td>
                    <td><%=performanceData.practiceMatchBatting.fifties%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.hundreds%></td>
                    <td>Hundreds</td>
                    <td><%=performanceData.practiceMatchBatting.hundreds%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.batting.notOut%></td>
                    <td>Not Out</td>
                    <td><%=performanceData.practiceMatchBatting.notOut%></td>
                  </tr>
                  <tr>
                    <td><a href="/singleRoomShortDetails/<%=performanceData.batting.hightRun.matchId%>"><%= performanceData.batting.hightRun.runs %>(<%= performanceData.batting.hightRun.balls %>)</a></td>
                    <td>Hight Runs</td>
                    <td><%=performanceData.practiceMatchBatting.hightRuns%></td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Bowling Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%; color: #007bff;" >Tournament Matches</th>
                    <th scope="col" style="width: 30%;"></th>
                    <th scope="col" style="width: 35%; color: #007bff;" >Practice Matches</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=performanceData.matches%></td>
                    <td>Matches </td>
                    <td><%=performanceData.practiceMatches%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.innings%></td>
                    <td>Innings</td>
                    <td><%=performanceData.practiceMatchBowling.innings%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.runs%></td>
                    <td>Runs Given</td>
                    <td><%=performanceData.practiceMatchBowling.runs%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.overs%></td>
                    <td>Overs</td>
                    <td><%=performanceData.practiceMatchBowling.overs%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.wickets%></td>
                    <td>Wickets</td>
                    <td><%=performanceData.practiceMatchBowling.wickets%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.madenOvers%></td>
                    <td>Maden Ovs</td>
                    <td><%=performanceData.practiceMatchBowling.madenOvers%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.wideBalls+performanceData.bowling.noBalls%></td>
                    <td>Extra Runs</td>
                    <td><%=performanceData.practiceMatchBowling.wideBalls+performanceData.practiceMatchBowling.noBalls%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.threeWickets%></td>
                    <td>3 wickets</td>
                    <td><%=performanceData.practiceMatchBowling.threeWickets%></td>
                  </tr>
                  <tr>
                    <td><%=performanceData.bowling.fiveWickets%></td>
                    <td>5 wickets</td>
                    <td><%=performanceData.practiceMatchBowling.fiveWickets%></td>
                  </tr>
                  <tr>
                    <td><a href="/singleRoomShortDetails/<%=performanceData.bowling.hightWicket.matchId%>"><%= performanceData.bowling.hightWicket.wickets %></a></td>
                    <td>Hight wickets</td>
                    <td><%=performanceData.practiceMatchBowling.hightWickets%></td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5 class="bolder"><strong>Tournament Match Details :</strong></h5>
        
             <!-- ******match details structure starting**** -->
             <%- include('includes/matchDetails') %>

            <!-- ********match details structure ends******** -->

          </div>
          <div class="col-md-6">
            <h5 class="bolder"><strong>Practice Match Details :</strong></h5>
            <%if(!performanceData.practiceMatchDetails.length){%>
              <div class="btn btn-lg btn-warning btn-block mb-2">
                <strong>
                  No practice match data added!!
                </strong>
              </div>
            <%}%>
            <!-- ******match details structure starting**** -->
            <%for(let i=performanceData.practiceMatchDetails.length-1;i>=0;i--){%>
            <div class=" mb-2">
              <div class="item-container" >
                <div style="display: flex;">
                  <div class="text-center">
                    <img class="avatar-small" style="top:7px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
                  </div>
                  <div class="post-header" style="width: 100%;display: flex;">
                    <div class="mr-auto" style="padding-left: 5px;">
                      <div style="margin: 0;padding: 0;">
                      <strong class="text-primary">Match Number : <%=i+1%></strong> | <strong><span class="text-warning"><%=performanceData.practiceMatchDetails[i].matchData.ownTeam%>(own)</span> vs <span class="text-primary"><%=performanceData.practiceMatchDetails[i].matchData.opponentTeam%></span></strong>
                   
                      </div>
                      <div style="margin: 0;padding: 0;">
                        <i><span>Played at <%=performanceData.practiceMatchDetails[i].matchData.venue%> on <%=performanceData.practiceMatchDetails[i].matchData.date%></span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
                      </div>
                    </div>
                    <div class="float-right">
                      <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="fas fa-ellipsis-h"></i></strong>
                      </p>
                      <div class="dropdown-menu dropdown-menu-right">
                        <form action="/delete/practiceMatch/<%=i%>/details" method="post">
                          <button class="btn btn-sm btn-danger">Delete Match</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="margin-bottom: .35rem;margin-top: 2px;">
                <!--batting performance data -->
                <div class="bolder">Batting Performance :</div>
                <%if(performanceData.practiceMatchDetails[i].battingData){%>
                  <table class="table table-sm table-bordered " >
                    <tr>
                      <td><strong>Runs</strong></td>
                      <td><strong>Balls</strong></td>
                      <td><strong>4s</strong></td>
                      <td><strong>6s</strong></td>
                      <td><strong>SR</strong></td>
                      <td><strong>Out</strong></td>
                    </tr>
                    <tr>
                      <td><%=performanceData.practiceMatchDetails[i].battingData.runs%></td>
                      <td><%=performanceData.practiceMatchDetails[i].battingData.balls%></td>
                      <td><%=performanceData.practiceMatchDetails[i].battingData.fours%></td>
                      <td><%=performanceData.practiceMatchDetails[i].battingData.sixes%></td>
                      <td><%=((performanceData.practiceMatchDetails[i].battingData.runs*100)/performanceData.practiceMatchDetails[i].battingData.balls).toFixed(2)%></td>
                      <td>
                          <%=performanceData.practiceMatchDetails[i].battingData.outType%>
                        
                      </td>
                    </tr>
                  </table>
                <%}else{%>
                  <div class="btn btn-outline-secondary btn-block">  
                    You did not bat in that match.
                  </div>
                <%}%>
                <!-- bowling performance data -->
                <div class="bolder">Bowling Performance :</div>
                <%if(performanceData.practiceMatchDetails[i].bowlingData){%>
                  <table class="table table-sm table-bordered" >
                    <tr>
                      <td><strong>Runs</strong></td>
                      <td><strong>Ovrs</strong></td>
                      <td><strong>Wkt</strong></td>
                      <td><strong>Mdn</strong></td>
                      <td><strong>Wd</strong></td>
                      <td><strong>No</strong></td>
                    </tr>
                    <tr>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.runs%></td>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.overs%></td>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.wickets%></td>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.madenOvers%></td>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.wideBalls%></td>
                      <td><%=performanceData.practiceMatchDetails[i].bowlingData.noBalls%></td>
                    </tr>
                  </table>
                <%}else{%>
                  <div class="btn btn-outline-secondary btn-block">
                    You did not bowl in that match.
                  </div>
                <%}%>
                <hr style="margin-bottom: 5px;margin-top:1px;">
                <!-- comment section -->
                <div style="width: 100%; border-radius: 5px;">     
                  <div class="p-2 bg-warning text-center"> 
                    <strong><%=performanceData.practiceMatchDetails[i].matchData.shortDetails%></strong>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
            <!-- ********match details structure ends******** -->

          </div>
        </div>
    </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<%- include('includes/footer') %>
