<%- include('includes/header') %> <%- include('includes/flash') %>
<div class="container py-md-3">
  <div class="row align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 shadow">
          <h4 class="text-center"><strong>This is profile page</strong></h4>
          <div class="container" style="margin-top: 1rem">
            <div class="text-center">
              <picture>
                <img class="shadow homeProfilePic" src="/images/sohag.jpg" alt="" />
              </picture>
              <h2 class="about-h2 text-uppercase boldFont nameStyle btmMarginZero"><%= profileUserData.userName %></h2>
              <%if(checkData.isUserLoggedIn && checkData.isVisitorOwner){%>
                <p class="bolderFont">
                  <a href="/player/profile/<%= profileUserData.regNumber %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Update Profile & Password"><i class="fas fa-edit"></i> Update Profile</a>
                </p>
              <%}%>
            </div>
          </div>
          
          <%if(checkData.isUserLoggedIn && !checkData.isVisitorOwner){%>
            <a href="/compare/<%=user.regNumber%>/<%=profileUserData.regNumber%>/performance"><button class="btn btn-lg btn-block btn-info">Compare your performance with <strong class="text-lowercase"><%=profileUserData.userName%>'s</strong> performance</button></a> 
          <%}%>
          
          <div class="container mb-4 shadow profileDataContainer">
            <p><strong>Name : </strong><%= profileUserData.userName %></p>
            <p><strong>Date of birth : </strong><%= profileUserData.dob %></p>
            <p><strong>Batting Style : </strong><%= profileUserData.battingStyle %></p>
            <p><strong>Bowling Style : </strong><%= profileUserData.bowlingStyle %></p>
            <p><strong>Address : </strong><%= profileUserData.address %></p>
            <p><strong>Phone number : </strong><%= profileUserData.phone %></p>
            
              <div class="p-4 bg-secondary"> 
                <%if(checkData.isUserLoggedIn && checkData.isVisitorOwner){%>
                  <p class="text-center"><strong>Tournament & Club for <%= profileUserData.leagueYear %></strong>
                    <a href="/player/profile/<%= profileUserData.regNumber %>/edit" class="text-info mr-2" data-toggle="tooltip" data-placement="top" title="Update club name"><i class="fas fa-edit"></i> Update</a>
                  </p>
                <%}%>
                <p><strong>Your current club name - </strong><%= profileUserData.currentClub %></p>
                <p><strong>Your tournament is - </strong>Siliguri <%= profileUserData.leaguePlaying %> cricket league</p>
              </div>
            
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 shadow">
          <h2 class="text-center mr-4 text-uppercase" style="color: #495057; font-weight: bolder; margin-top: 1rem"><strong>performanceData of performance</strong></h2>
          <h3 class="text-center mb-4">Total Match Played - <strong><%= performanceData.matches %></strong></h3>
          <div class="container">
            <div class="row">
              <div class="col-md-6 shadow">
                <div class="text-center">
                  <h3 class="text-center" style="border-bottom: solid black 2px">Batting performanceData</h3>
                </div>
                <p><strong>Innings : </strong><%= performanceData.batting.innings %></p>
                <p><strong>Runs : </strong><%= performanceData.batting.runs %></p>
                <p><strong>Balls : </strong><%= performanceData.batting.balls %></p>
                <p><strong>Sixes : </strong><%= performanceData.batting.sixes %></p>
                <p><strong>Fours : </strong><%= performanceData.batting.fours %></p>
                <p><strong>Fifties : </strong><%= performanceData.batting.fifties %></p>
                <p><strong>Hundreds : </strong><%= performanceData.batting.hundreds %></p>
                <p><strong>Hight Run : </strong><%= performanceData.batting.hightRun %></p>
              </div>
              <div class="col-md-6 shadow">
                <div class="text-center">
                  <h3 class="text-center" style="border-bottom: solid black 2px">Bowling performanceData</h3>
                </div>
                <p><strong>Innings : </strong><%= performanceData.bowling.innings %></p>
                <p><strong>Given Runs : </strong><%= performanceData.bowling.runs %></p>
                <p><strong>Overs : </strong><%= performanceData.bowling.overs %></p>
                <p><strong>Wickets : </strong><%= performanceData.bowling.wickets %></p>
                <p><strong>5 wickets : </strong><%= performanceData.bowling.fiveWickets %></p>
                <p><strong>10 wickets : </strong><%= performanceData.bowling.tenWickets %></p>
                <p><strong>Maden Overs : </strong><%= performanceData.bowling.madenOvers %></p>
                <p><strong>Hight wickets : </strong><%= performanceData.bowling.hightWicket %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1"></div>
      </div>
      
    </div>
  </div>
</div>

<%- include('includes/footer') %>
