<%- include('includes/header') %> <%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="cover-image" src="/images/sohag.jpg" width="1000" height="250"/>
        <div class="text-center">
          <img class="profile-image" src="/images/sohag.jpg" />
          <h5>
            <strong><%=profileUserData.userName%>
             <span class="text-primary" > <i class="fas fa-check-circle"></i></span>
            </strong>
          </h5>
          <hr> 
        </div>
      </div>  
    </div>

     <!-- Profile related structures will be added here -->
    <!-- **************************************************** -->

    <div class="row">
      <div class="col-md-4">
        <div class="">
          <div class="item-container mb-2">
            <p class="bolder"><strong >Identity</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
           
            <p><i class="fas fa-user"></i> <strong>Name : </strong><%= profileUserData.userName %></p>
            <p><i class="fas fa-info-circle"></i> <strong>Batting Style : </strong><%= profileUserData.battingStyle %></p>
            <p><i class="fas fa-info-circle"></i> <strong>Bowling Style : </strong><%= profileUserData.bowlingStyle %></p>
            <p><i class="fas fa-map-marker-alt"></i> <strong>Address : </strong><%= profileUserData.address %></p>
            <p><i class="fas fa-phone"></i> <strong> Phone number : </strong><%= profileUserData.phone %></p>
            <p><i class="fas fa-birthday-cake"></i> <strong> Date of birth : </strong><%= profileUserData.dob %></p>
            
            
            <%if(checkData.isUserLoggedIn && checkData.isVisitorOwner){%>
              <a  href="/player/profile/<%= profileUserData.regNumber %>/edit">
                <div class="btn btn-secondary btn-block"><i class="fas fa-pen"></i> Update your profile</div>
              </a>
            <%}%>
            <hr> 
          </div>
          
          <div class="item-container mb-2 text-center">
            <span class="text-warning">
              <div class="text-center">
                <strong>Tournament & Club for - <%= profileUserData.leagueYear %></strong>
              </div>
            </span>
            <div><strong>Club name : </strong><%= profileUserData.currentClub %></div>
            <div><strong>Tournament is : </strong><%= profileUserData.leaguePlaying %></div>
            <%if(checkData.isUserLoggedIn && checkData.isVisitorOwner){%>
              <a href="/player/profile/<%= profileUserData.regNumber %>/edit">
                <div class="btn btn-secondary btn-block mt-2"><i class="fas fa-pen"></i> Update Club Details</div>
              </a>  
            <%}%>
          </div>

          <div class="item-container mb-2">
            <p class="bolder">
              <strong>About</strong>
              <%if(checkData.isUserLoggedIn && checkData.isVisitorOwner){%>
                <span class="float-right">
                  <span type="button" class="d-block text-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit</span>
    
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Edit about details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/update-about-details" method="post">
                            <div class="form-group" style="text-align: left;">
                              <label for="status" class="text-muted" ><small>About Yourself </small></label>
                              <textarea required name="aboutData" id="post"  class="post-input-field" placeholder="Write about yourself."  type="text"><%=profileUserData.aboutPlayer%></textarea>
                            </div>
                            <div style="text-align: left;">
                              <button class="btn btn-success btn-sm ">Submit</button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              <%}%>
            </p>
            <hr style="margin-bottom: .25rem;margin-top: 0rem;">
            <p>
              <%if(profileUserData.aboutPlayer){%>
                <%=profileUserData.aboutPlayer%>
              <%}else{%>
                <div class="btn btn-outline-primary btn-sm btn-block">About data has not provided!</div>
              <%}%>
            </p>
          </div>

          <%if(checkData.isUserLoggedIn && !checkData.isVisitorOwner){%>
            <div class="item-container mb-2">
              <a href="/compare/<%=user.regNumber%>/<%=profileUserData.regNumber%>/performance">
                <div class="btn btn-success btn-block">Compare performance <i class="fas fa-arrow-right"></i></div>
              </a>
            </div>
          <%}%>
          
          

        </div>
      </div>
      <div class="col-md-8" >
        <h5 class="bolder text-primary">Performance Details :</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder "><strong >Batting Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless">
                <tr>
                  <td style="width: 70%;"><strong>Matches</strong></td>
                  <td style="width: 30%;">: &nbsp;&nbsp;<%= performanceData.matches %></td>
                </tr>
                <tr>
                  <td><strong>Innings</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.innings %></td>
                </tr>
                <tr>
                  <td><strong>Runs</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.runs %></td>
                </tr>
                <tr>
                  <td><strong>Balls</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.balls %></td>
                </tr>
                <tr>
                  <td><strong>Fours</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.fours %></td>
                </tr>
                <tr>
                  <td><strong>Sixes</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.sixes %></td>
                </tr>
                <tr>
                  <td><strong>Fifties</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.fifties %></td>
                </tr>
                <tr>
                  <td><strong>Hundreds</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.batting.hundreds %></td>
                </tr>
                <tr>
                  <td><strong>Hight Runs</strong></td>
                    <td>: &nbsp;&nbsp;<a href="/singleRoomShortDetails/<%=performanceData.batting.hightRun.matchId%>"><%= performanceData.batting.hightRun.runs %>(<%= performanceData.batting.hightRun.balls %>)</a></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder "><strong >Bowling Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
           
              <table class="table table-sm table-borderless">
                <tr>
                  <td style="width: 70%;"><strong>Matches</strong></td>
                  <td style="width: 30%;">: &nbsp;&nbsp;<%= performanceData.matches %></td>
                </tr>
                <tr>
                  <td><strong>Innings</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.innings %></td>
                </tr>
                <tr>
                  <td><strong>Given Runs</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.runs %></td>
                </tr>
                <tr>
                  <td><strong>Overs</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.overs %></td>
                </tr>
                <tr>
                  <td><strong>Wickets</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.wickets %></td>
                </tr>
                <tr>
                  <td><strong>Maden Overs</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.madenOvers %></td>
                </tr>
                <tr>
                  <td><strong>3 Wickets</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.threeWickets %></td>
                </tr>
                <tr>
                  <td><strong>5 Wickets</strong></td>
                  <td>: &nbsp;&nbsp;<%= performanceData.bowling.fiveWickets %></td>
                </tr>
                <tr>
                  <td><strong>Hight Wickets</strong></td>
                  <td>: &nbsp;&nbsp;<a href="/singleRoomShortDetails/<%=performanceData.bowling.hightWicket.matchId%>"><%= performanceData.bowling.hightWicket.wickets %></a></td>
                </tr>
              </table>
            
            </div>
          </div>
        </div>
        <hr>
        <h5 class="bolder text-primary">Match Details :</h5>
        <%if(!performanceData.matchDetails.length){%>
          <div class="btn btn-lg btn-warning btn-block mb-2">
            <strong>
            <%if(checkData.isUserLoggedIn){%>
              <%if(checkData.isVisitorOwner){%>
                You have
              <%}else{%>
                <%=profileUserData.userName%> has
              <%}%>
            <%}else{%>
              <%=profileUserData.userName%> has
            <%}%>
              not played any match till now!!
            </strong>
            </div>
        <%}%>

        <!-- ******match details structure starting**** -->
        <%- include('includes/matchDetails') %>

        <!-- ********match details structure ends******** -->

      </div>
    </div>
    <!-- **************************************************** -->
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>



<%- include('includes/footer') %>

<!-- 
<span>
  <span >Hello i am sohag roy</span>
  
    <span type="button" class="d-block text-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit</span>
    
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit your bio-status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/update-bio-status/" method="post">
              <div class="form-group" style="text-align: left;">
                <label for="status" class="text-muted" ><small>Edit status </small></label>
                <input name="bioStatus" value="Hello" id="status" class="form-control form-control-sm " type="text" placeholder="status" autocomplete="off" />
              </div>
              <div style="text-align: left;">
                <button class="btn btn-success btn-sm ">Submit</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </span> -->