<%- include('includes/header') %>
<%- include('includes/flash') %>


<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
    
  <div class="single-batch-container mt-2">
    <div class="single-batch-data pb-4">
      <div style="position: relative;">
        <img class="single-batch-image"  src="/images/sohag.jpg" alt="">
        <div class="batch-no text-capitalize">Tournament sponsorred by Sohag Roy</div> 
      </div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Name : </strong><%=teamDetails.tournamentData.tournamentName%></div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Year : </strong><%=teamDetails.tournamentData.tournamentYear%></div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Group Name : </strong><%=teamDetails.groupName%></div>
      <hr>
      <h5 class="ml-2">
        <strong class="bolder "><span class="text-primary"><%=teamDetails.team.teamFullName%>'s</span> Performance Details :</strong>
      </h5>
      <p class="bolder ml-2 text-info"><strong>1st Round Details :</strong></p>
      <div class="m-2">
         <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col"><strong>Team Name</strong> </th>
              <th scope="col">Match Played</th>
              <th scope="col">Win</th>
              <th scope="col">Loss</th>
              <th scope="col">Draw</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <th scope="row"><%=teamDetails.team.teamShortName%></th>
                <td><%=teamDetails.team.matchesPlayed%></td>
                <td><%=teamDetails.team.matchesWin%></td>
                <td><%=teamDetails.team.matchesLoss%></td>
                <td><%=teamDetails.team.tieOrDraw%></td>
                <td><%=teamDetails.team.totalPoints%></td>
              </tr>
            </tbody>
        </table>
      </div>
      <p class="bolder ml-2 text-info"><strong>2nd Round Details :</strong></p>
      <div class="m-2">
         <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col"><strong>Team Name</strong> </th>
              <th scope="col">Match Played</th>
              <th scope="col">Win</th>
              <th scope="col">Loss</th>
              <th scope="col">Draw</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <th scope="row"><%=teamDetails.team.teamShortName%></th>
                <td><%=teamDetails.team.matchesPlayed%></td>
                <td><%=teamDetails.team.matchesWin%></td>
                <td><%=teamDetails.team.matchesLoss%></td>
                <td><%=teamDetails.team.tieOrDraw%></td>
                <td><%=teamDetails.team.totalPoints%></td>
              </tr>
            </tbody>
        </table>
      </div>
      <hr>
      <p><h5 class="bolder text-primary ml-2">Played Matches :</h5></p>
      <%if(!teamDetails.team.matches.length){%>
        <div class="m-2">
          <div class=" btn btn-lg btn-info btn-block">
            <strong>No matches played till now!</strong>
          </div>
        </div>
      <%}%>
        <%teamDetails.team.matches.forEach((match)=>{%>
          <div class="ml-2 mr-2">
            <div class="student-room-container" style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col-sm-6"  style="width: 100%;display: flex;">
                    <div style="width: 100%;">
                      <div ><strong>Opponent Team : </strong><%=match.opponentTeam%> &nbsp;|&nbsp;<strong> Played On : </strong>12/12/12</div>
                      <div class="text-info"><strong >Matche Status : </strong><i class="text-warning"><%=match.winningStatus%></i> </div>
                    </div>
                  </div>
                  <div class="col-sm-6 " style="margin: auto;">
                    <div class="float-btn" style="display: flex;">
                      <a href="/singleRoomShortDetails/<%=match.matchId%>">
                        <div class="btn btn-outline-info btn-sm mr-1">Match Details</div>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>    
        <%})%>
      <hr>
        <p><h5 class="bolder text-primary ml-2">All Team Players With Performances :</h5></p>
          <!--         
          <span class="m-2">
            <p class="btn btn-primary btn-block">There is no student till now.</p>
          </span> -->
        
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <div class="text-primary"><strong>Sohag Roy (CCA)</strong></div>
                    <div><strong>Matches : </strong>2 &nbsp;|&nbsp; <strong>Runs : </strong>20 &nbsp;|&nbsp; <strong>Wickets : </strong>2</div>
                    <div></div>
                  </div>
                  
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <a href="/profile/">
                      <div class="btn btn-primary btn-sm mr-1">View profile</div>
                    </a>
                    <a href="/single-chat/">
                      <div class="btn btn-primary btn-sm "> Compare</div>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    
    </div>
  </div>
</div>
<div class="col-lg"></div>
</div>

<!-- *******end here******* -->

  <%- include('includes/footer') %>
