<%- include('includes/header') %>
<%- include('includes/flash') %>
<div class="container py-md-5">
    <h3>Tournament group added page</h3>
    <p><strong>Tournament name : </strong><%=tournamentData.tournamentName%> (<%=tournamentData.tournamentYear%>)</p>
    
    
    <h4>
      All added groups for this tournament is : <%=tournamentData.groups.length%>
    </h4>
    
    <%tournamentData.groups.forEach((group,index1)=>{%>
      <h4><strong>Group name - <%=group.groupName%></strong></h4>
      <table class="table table-sm table-borderless">
        <thead>
          <tr>
            <th scope="col"><strong>Team Name</strong> </th>
            <th scope="col">Match Played</th>
            <th scope="col">Win</th>
            <th scope="col">Loss</th>
            <th scope="col">Draw</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <%group.teams.forEach((team,index2)=>{%>
          <tbody>
            <tr>
              <th scope="row"><a href="/tournament/firstRound/<%=tournamentData._id%>/<%=index1%>/<%=index2%>/singleTeam"><%=team.teamFullName%> (<%=team.teamShortName%>)</a></th>
              <td><%=team.matchesPlayed%></td>
              <td><%=team.matchesWin%></td>
              <td><%=team.matchesLoss%></td>
              <td><%=team.tieOrDraw%></td>
              <td><%=team.totalPoints%></td>
            </tr>
          </tbody>
        <%})%>
      </table>
    <%})%>
    <hr>
    <div>
      <p><strong>First round fixture </strong> </p>
      <a href="<%=tournamentData.fixtureLink%>"><button id="match-success-button" class="btn btn-success btn-block">Tournament matches fixture</button></a>
    </div>
    <hr>
    
    <%if(tournamentData.isSecondRoundStarted){%>
      <h3><strong>Qualified teams for <%=tournamentData.secondRoundName%></strong></h3>
      <hr>
      <%tournamentData.secondRoundGroups.forEach((group,index1)=>{%>
        <h4><strong>Group name - <%=group.groupName%></strong></h4>
        <table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th scope="col"><strong>Team Name</strong> </th>
              <th scope="col">Match Played</th>
              <th scope="col">Win</th>
              <th scope="col">Loss</th>
              <th scope="col">Draw</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <%group.teams.forEach((team,index2)=>{%>
            <tbody>
              <tr>
                <th scope="row"><a href="/tournament/secondRound/<%=tournamentData._id%>/<%=index1%>/<%=index2%>/singleTeam"><%=team.teamFullName%> (<%=team.teamShortName%>)</a></th>
                <td><%=team.matchesPlayed%></td>
                <td><%=team.matchesWin%></td>
                <td><%=team.matchesLoss%></td>
                <td><%=team.tieOrDraw%></td>
                <td><%=team.totalPoints%></td>
              </tr>
            </tbody>
          <%})%>
        </table>
      <%})%>
      <hr>
      
      <div>
        <p><strong>Second round fixture </strong> </p>
        <a href="<%=tournamentData.secondRoundFixtureLink%>"><button id="match-success-button" class="btn btn-success btn-block">Tournament matches fixture</button></a>
      </div>
      <hr>
    <%}%> 
    <h3><strong>Hight runs scorrers :</strong></h3>
      <%tournamentData.topBatters.forEach((batter)=>{%>
        <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
          <span class="item-text"><strong>Name : </strong><a href="/profile/<%=batter.regNumber%>"><%=batter.userName%></a></span>
          <span class="item-text"><strong>Matches played : </strong><%=batter.matchesPlayed%></span>
          <div>
            <strong> Total Runs : <%=batter.runs%> </strong>
          </div>
        </li>  
      <%})%>
      <hr>
      <h3><strong>Hight wicket takers :</strong></h3>
      <%tournamentData.topBowlers.forEach((bowler)=>{%>
        <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
          <span class="item-text"><strong>Name : </strong><a href="/profile/<%=bowler.regNumber%>"><%=bowler.userName%></a></span>
          <span class="item-text"><strong>Matches played : </strong><%=bowler.matchesPlayed%></span>
          <div>
            <strong> Total Wickets : <%=bowler.wickets%></strong>
          </div>
        </li>  
      <%})%>
      <hr>
</div>

  <%- include('includes/footer') %>
