<%- include('includes/header') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
          <div class="single-batch-data">
            <div style="position: relative;">
              <img class="match-room-sponsor-image"  src="/images/sohag.jpg" alt="">
            </div>
            <div class="bolder text-center text-primary p-1" ><strong><%=room.matchDetails.firstTeam%> VS <%=room.matchDetails.secondTeam%></strong></div> 
          </div>
          <div class="scoreUpperPart btn-block row" style="margin-left: 0">
            <div class="container">
              
                <div class="p_zero">
                  <p class="text-uppercase"><strong><%=room.matchDetails.tournamentName%>  
                    <%if(room.matchDetails.secondRoundName){%>
                      | <%=room.matchDetails.secondRoundName%>
                    <%}%>
                    | Match no :<%=room.matchDetails.matchNumber%> </strong>
                  </p>
                  <p ><strong>Venue -</strong> <%=room.matchDetails.venue%></p>
                  <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished){%>
                    <%if(!room.matchCancled.hasCancled){%>
                      <p class="fontBolder " style="color: red;display: inline-block;"><i class="fas fa-circle"></i> Live</p>
                    <%}else{%>
                      <p class="fontBolder " style="color: red;display: inline-block;"><strong><%=room.matchCancled.canclationMessage%></strong></p>
                    <%}%>
                  <%}%>
                </div>
            
              
              <!-- this is body part of the score card -->
              <div class="container scoreLowerPart p_zero pb-1">
                <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished && room.matchDetails.tossWonBy){%>
                  <%if(room.emergency.hasEmergency){%>
                    <p class="text-danger"><strong><%=room.emergency.emergencyMessage%></strong></p>
                  <%}%>
                  <p ><strong style="color: orangered;"><%=room.tossDetails%></strong></p>
                    <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                    <p><i>-1st Innings</i>
                      <%if(room.matchDetails.isInningsCompleted){%>
                        <strong style="color: red;">(break)</strong>
                      <%}%>
                    </p>
                    <p ><strong><%=room.batting.firstBattingTeam%></strong> - <%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>   </p>
                    <p ><strong>Overs - </strong><%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%>  (<%=room.matchDetails.overs%> ovs.)</p>
                    <p><strong>CRR - </strong><%=room.crr%></p>
                    <%}else if(room.matchDetails.inningsStatus=="2nd Innings"){%>
                      
                    <a style="display: block;margin-bottom: 2px;" href="/firstInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <p ><i>-2nd Innings</i></p>
                    <p ><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.liveScore.totalRuns%>/<%=room.liveScore.totalWickets%>  </p>
                    <p ><strong>Overs - </strong><%=room.liveScore.totalOvers%>.<%=room.eachOver.ballNumber%>  (<%=room.matchDetails.overs%> ovs.)</p>
                    <p><strong>CRR - </strong><%=room.crr%></p>
                     <%}else{%>
                    <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
                    <a style="display: block;margin-bottom: 2px;" href="/firstInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <a style="display: block;margin-bottom: 2px;" href="/secondInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <%}%>
                    
                <%}else if(room.matchDetails.isFinished){%>
                    <p class="fontBolder " style="color: red;"><%=room.matchDetails.winningStatus%></p>
                    <a style="display: block;margin-bottom: 2px;" href="/firstInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.firstBattingTeam%></strong>-<%=room.firstInningsScore.totalRuns%>/<%=room.firstInningsScore.totalWickets%>  (<%=room.firstInningsScore.totalOvers%>.<%=room.firstInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <a href="/secondInningsDetails/<%=room.matchId%>"><p class="btn btn-sm btn-outline-info"><strong><%=room.batting.secondBattingTeam%></strong>-<%=room.secondInningsScore.totalRuns%>/<%=room.secondInningsScore.totalWickets%>  (<%=room.secondInningsScore.totalOvers%>.<%=room.secondInningsScore.ballNumber%> ovs.) </p>
                    </a>
                    <p style="color: red;">Man of the match : <%=room.matchDetails.manOfTheMatch%>.</p>
                <%}else{%>
                <p class="text-uppercase"><strong><%=room.matchDetails.firstTeam%></strong></p>
                <p class="text-uppercase"><strong><%=room.matchDetails.secondTeam%></strong></p>
                <%}%>
              </div>
      
              <hr />
              <%if(!room.matchDetails.isFinished && room.matchDetails.tossWonBy && room.state.strikerIndex!=null && room.state.nonStrikerIndex!=null){%>
                <table class="table table-sm table-borderless">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 40%;">Batting</th>
                      <th scope="col" style="width: 15%;">R(B)</th>
                      <th scope="col" style="width: 15%;">4s</th>
                      <th scope="col" style="width: 15%;">6s</th>
                      <th scope="col" style="width: 15%;">SR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                      <th scope="row"><%=room.firstInningsBatting.allBatsman[room.state.strikerIndex].name%>*</th>
                      <td><%=room.firstInningsBatting.allBatsman[room.state.strikerIndex].runs%>(<%=room.firstInningsBatting.allBatsman[room.state.strikerIndex].balls%>)</td>
                      <td><%=room.firstInningsBatting.allBatsman[room.state.strikerIndex].fours%></td>
                      <td><%=room.firstInningsBatting.allBatsman[room.state.strikerIndex].sixes%></td>
                      <td><%=(room.firstInningsBatting.allBatsman[room.state.strikerIndex].runs*100/room.firstInningsBatting.allBatsman[room.state.strikerIndex].balls).toFixed(2)%></td>
                      <%}%>
                      <%if(room.matchDetails.inningsStatus=="2nd Innings" || room.matchDetails.inningsStatus=="game over"){%>
                        <th scope="row"><%=room.secondInningsBatting.allBatsman[room.state.strikerIndex].name%>*</th>
                        <td><%=room.secondInningsBatting.allBatsman[room.state.strikerIndex].runs%>(<%=room.secondInningsBatting.allBatsman[room.state.strikerIndex].balls%>)</td>
                        <td><%=room.secondInningsBatting.allBatsman[room.state.strikerIndex].fours%></td>
                        <td><%=room.secondInningsBatting.allBatsman[room.state.strikerIndex].sixes%></td>
                        <td><%=(room.secondInningsBatting.allBatsman[room.state.strikerIndex].runs*100/room.secondInningsBatting.allBatsman[room.state.strikerIndex].balls).toFixed(2)%></td>
                      
                        <%}%>
                    </tr>
                    <tr>
                      <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                        <th scope="row"><%=room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].name%></th>
                        <td><%=room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].runs%>(<%=room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].balls%>)</td>
                        <td><%=room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].fours%></td>
                        <td><%=room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].sixes%></td>
                        <td><%=(room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].runs*100/room.firstInningsBatting.allBatsman[room.state.nonStrikerIndex].balls).toFixed(2)%></td>
                      
                        <%}%>
                        <%if(room.matchDetails.inningsStatus=="2nd Innings" || room.matchDetails.inningsStatus=="game over"){%>
                          <th scope="row"><%=room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].name%></th>
                          <td><%=room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].runs%>(<%=room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].balls%>)</td>
                          <td><%=room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].fours%></td>
                          <td><%=room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].sixes%></td>
                          <td><%=(room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].runs*100/room.secondInningsBatting.allBatsman[room.state.nonStrikerIndex].balls).toFixed(2)%></td>
                      
                          <%}%>
                    </tr>
                  </tbody>
                </table>
              <hr />
              
              <%if(room.state.bowlerIndex!=null){%>
              <table class="table table-sm table-borderless">
                <thead>
                  <tr>
                    <th scope="col" style="width: 40%;">Bowling</th>
                    <th scope="col" style="width: 12%;">Ovs</th>
                    <th scope="col" style="width: 12%;">Mdn</th>
                    <th scope="col" style="width: 12%;">Run</th>
                    <th scope="col" style="width: 12%;">Wkt</th>
                    <th scope="col" style="width: 12%;">Eco</th>
                  </tr>
                </thead>
                <tbody>
                  <%let ECO%>
                    <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                      <%ECO=(room.firstInningsBowling.allBowlers[room.state.bowlerIndex].runs*6)/((room.firstInningsBowling.allBowlers[room.state.bowlerIndex].overs*6)+room.eachOver.ballNumber)%>
                      <tr>
                        <th scope="row"><%=room.firstInningsBowling.allBowlers[room.state.bowlerIndex].name%>*</th>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.bowlerIndex].overs%>.<%=room.eachOver.ballNumber%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.bowlerIndex].madenOvers%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.bowlerIndex].runs%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.bowlerIndex].wickets%></td>
                        <td><%=ECO.toFixed(2)%></td>
                      </tr>
                      <%if(room.state.previousBowlerIndex !=null){%>
                        <%ECO=(room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].runs*6)/((room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].overs*6))%>
                      <tr>
                        <th scope="row"><%=room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].name%></th>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].overs%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].madenOvers%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].runs%></td>
                        <td><%=room.firstInningsBowling.allBowlers[room.state.previousBowlerIndex].wickets%></td>
                        <td><%=ECO.toFixed(2)%></td>
                      </tr>
                      <%}%>
                    <%}%>
                    <%if(room.matchDetails.inningsStatus=="2nd Innings" || room.matchDetails.inningsStatus=="game over"){%>
                      <%ECO=(room.secondInningsBowling.allBowlers[room.state.bowlerIndex].runs*6)/((room.secondInningsBowling.allBowlers[room.state.bowlerIndex].overs*6)+room.eachOver.ballNumber)%>
                      
                      <tr>
                        <th scope="row"><%=room.secondInningsBowling.allBowlers[room.state.bowlerIndex].name%>*</th>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.bowlerIndex].overs%>.<%=room.eachOver.ballNumber%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.bowlerIndex].madenOvers%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.bowlerIndex].runs%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.bowlerIndex].wickets%></td>
                        <td><%=ECO.toFixed(2)%></td>
                      </tr>
                      <%if(room.state.previousBowlerIndex !=null){%>
                        <%ECO=(room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].runs*6)/((room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].overs*6))%>
                     
                        <tr>
                        <th scope="row"><%=room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].name%></th>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].overs%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].madenOvers%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].runs%></td>
                        <td><%=room.secondInningsBowling.allBowlers[room.state.previousBowlerIndex].wickets%></td>
                        <td><%=ECO.toFixed(2)%></td>
                      </tr>
                      <%}%>
                    <%}%>
                  
                </tbody>
              </table>
              <%}%>
              <hr>
              <!-- in this section i have to add dynamic values -->
              <div>
                <p><strong>Partnership : <%=room.liveScore.partnershipRuns%>(<%=room.liveScore.partnershipBalls%>)</strong></p>
                <p><strong>Last Wicket : </strong><%=room.liveScore.lastWicketDetails%></p>
                <p><strong>Recent Balls : </strong>...
                  <% let start%>
                  <%if(room.recentBalls.length>15){%>
                    <%start=room.recentBalls.length-15%>
                  <%}else{%>
                    <%start=0%>
                  <% }%>
                <%for(let i=start;i<room.recentBalls.length;i++){%>
                  <%=room.recentBalls[i]%>&nbsp;
                <%}%>
                </p>
              </div>
              <%if(room.matchDetails.inningsStatus=="1st Innings"){%>
                <a href="/firstInningsDetails/<%=room.matchId%>"><button class="btn btn-sm btn-info">Scoreboard <i class="fas fa-clipboard-list"></i></button></a>
              
              <%}%>
              <%if(room.matchDetails.inningsStatus=="2nd Innings"){%>
                <a href="/secondInningsDetails/<%=room.matchId%>"><button class="btn btn-sm btn-info">Scoreboard <i class="fas fa-clipboard-list"></i></button></a>
              
              <%}%>
              
              <a href="/singleRoomShortDetails/<%=room.matchId%>"><button class="btn btn-sm btn-info">Refresh <i class="fas fa-sync-alt"></i></button>
              </a>
              
              <hr />
              <%}%>
            </div>
            <div class="container">
              <div class="p_zero">
                <%if(room.matchDetails.isStarted && !room.matchDetails.isFinished){%>
                
                <p class="float-right"><strong>Scoring by-</strong> <%=room.matchDetails.scorerName%></p>
                <%}else if(room.matchDetails.isFinished){%>
                <p><strong>Scored by-</strong> <%=room.matchDetails.scorerName%></p>

                <%}else{%>
                <p>Starts at <%=room.matchDetails.matchStartingTime%> on <%=room.matchDetails.dateOfTheMatch%></p>
                <%}%>
              </div>
            </div>
          </div>
          <%if(room.matchDetails.isStarted){%>
            <%- include('includes/match-commentry') %>
          <%}%>
        </div>
        <div class="col-lg"></div>
      </div>
   

<%- include('includes/footer') %>
