<%- include('includes/header') %>
<%- include('includes/flash') %>


<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
    
  <div class="single-batch-container mt-2">
    <div class="single-batch-data pb-4">
      <div style="position: relative;">
        <img class="single-batch-image"  src="/images/sohag.jpg" alt="">
        <div class="batch-no text-capitalize">Tournament sponsorred by Sohag Roy</div> 
      </div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Name : </strong><%=teamDetails.tournamentData.tournamentName%></div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Tournament Year : </strong><%=teamDetails.tournamentData.tournamentYear%></div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Group Name : </strong><%=teamDetails.teamData.firstRoundTeamGroup%></div>
      <hr>
      <h5 class="ml-2">
        <strong class="bolder "><span class="text-primary"><%=teamDetails.teamData.firstRoundTeamData.teamFullName%>'s</span> Performance Details :</strong>
      </h5>
      <p class="bolder ml-2 text-info"><strong>1st Round Details :</strong></p>
      <div class="m-2">
         <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col"><strong>Team Name</strong> </th>
              <th scope="col">Match Played</th>
              <th scope="col">Win</th>
              <th scope="col">Loss</th>
              <th scope="col">Draw</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <th scope="row"><%=teamDetails.teamData.firstRoundTeamData.teamShortName%></th>
                <td><%=teamDetails.teamData.firstRoundTeamData.matchesPlayed%></td>
                <td><%=teamDetails.teamData.firstRoundTeamData.matchesWin%></td>
                <td><%=teamDetails.teamData.firstRoundTeamData.matchesLoss%></td>
                <td><%=teamDetails.teamData.firstRoundTeamData.tieOrDraw%></td>
                <td><%=teamDetails.teamData.firstRoundTeamData.totalPoints%></td>
              </tr>
            </tbody>
        </table>
      </div>
      <%if(teamDetails.teamData.secondRoundStarted){%>
      <p class="bolder ml-2 text-info"><strong>2nd Round Details :</strong></p>
      <div class="m-2">
        <%if(!teamDetails.teamData.secondRoundTeamGroup){%>
          <div class="btn btn-lg btn-outline-danger btn-block"><strong>Team has not qualified for second round! </strong></div>
        <%}else{%>
         <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col"><strong>Team Name</strong> </th>
              <th scope="col">Match Played</th>
              <th scope="col">Win</th>
              <th scope="col">Loss</th>
              <th scope="col">Draw</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <th scope="row"><%=teamDetails.teamData.secondRoundTeamData.teamShortName%></th>
                <td><%=teamDetails.teamData.secondRoundTeamData.matchesPlayed%></td>
                <td><%=teamDetails.teamData.secondRoundTeamData.matchesWin%></td>
                <td><%=teamDetails.teamData.secondRoundTeamData.matchesLoss%></td>
                <td><%=teamDetails.teamData.secondRoundTeamData.tieOrDraw%></td>
                <td><%=teamDetails.teamData.secondRoundTeamData.totalPoints%></td>
              </tr>
            </tbody>
        </table>
        <%}%>
      </div>
      <%}%>

      <hr>
      <p><h5 class="bolder text-primary ml-2">Played Matches :</h5></p>
      <%if(!teamDetails.teamData.firstRoundTeamData.matches.length){%>
        <div class="m-2">
          <div class=" btn btn-lg btn-info btn-block">
            <strong>No matches played till now!</strong>
          </div>
        </div>
      <%}%>
        <%teamDetails.teamData.firstRoundTeamData.matches.forEach((match)=>{%>
          <div class="ml-2 mr-2">
            <div class="student-room-container" style="display: flex;width: 100%;">
                <div class="row"  style="width: 100%;">
                  <div class="col-sm-6"  style="width: 100%;display: flex;">
                    <div style="width: 100%;">
                      <div ><strong>Opponent Team : </strong><%=match.opponentTeam%> &nbsp;|&nbsp;<strong> Played On : </strong><%=match.matchDate%></div>
                      <div class="text-info"><strong >Matche Status : </strong><i class="text-warning"><%=match.winningStatus%></i> </div>
                    </div>
                  </div>
                  <div class="col-sm-6 " style="margin: auto;">
                    <div class="float-btn" style="display: flex;">
                      <a href="/singleRoomShortDetails/<%=match.matchId%>">
                        <div class="btn btn-outline-info btn-sm mr-1">Match Details</div>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>    
        <%})%>
        
        <%if(teamDetails.teamData.secondRoundStarted && teamDetails.teamData.secondRoundTeamGroup){%>
          <hr>
          <p><h5 class="bolder text-primary ml-2">Played Matches : (second round)</h5></p>
          <%if(!teamDetails.teamData.secondRoundTeamData.matches.length){%>
            <div class="m-2">
              <div class=" btn btn-lg btn-info btn-block">
                <strong>No matches played till now!</strong>
              </div>
            </div>
          <%}%>
          <%teamDetails.teamData.secondRoundTeamData.matches.forEach((match)=>{%>
            <div class="ml-2 mr-2">
              <div class="student-room-container" style="display: flex;width: 100%;">
                  <div class="row"  style="width: 100%;">
                    <div class="col-sm-6"  style="width: 100%;display: flex;">
                      <div style="width: 100%;">
                        <div ><strong>Opponent Team : </strong><%=match.opponentTeam%> &nbsp;|&nbsp;<strong> Played On : </strong><%=match.matchDate%></div>
                        <div class="text-info"><strong >Matche Status : </strong><i class="text-warning"><%=match.winningStatus%></i> </div>
                      </div>
                    </div>
                    <div class="col-sm-6 " style="margin: auto;">
                      <div class="float-btn" style="display: flex;">
                        <a href="/singleRoomShortDetails/<%=match.matchId%>">
                          <div class="btn btn-outline-info btn-sm mr-1">Match Details</div>
                        </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>    
          <%})%>
        <%}%>
      <hr>
        <p><h5 class="bolder text-primary ml-2">All Team Players With Performances :</h5></p>
          <!--         
          <span class="m-2">
            <p class="btn btn-primary btn-block">There is no student till now.</p>
          </span> -->
          <%if(!teamPlayers.length){%>
            <div class="m-2">
              <div class="btn btn-lg btn-danger btn-block"><strong>No registered player found from this team!</strong></div>
            </div>
          <%}%>
        <%teamPlayers.forEach((player)=>{%>
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <div class="text-primary"><strong><%=player.userName%> (<%=teamDetails.teamData.firstRoundTeamData.teamShortName%>)</strong></div>
                    <div><strong>Matches : </strong><%=player.matchesPlayed%> &nbsp;|&nbsp; <strong>Runs : </strong><%=player.runs%> &nbsp;|&nbsp; <strong>Wickets : </strong><%=player.wickets%></div>
                    <div></div>
                  </div>
                  
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <%if(user){%>
                      <%if(user.accountType=="player"){%>
                        <%if(user.regNumber==player.regNumber){%>
                          <a href="/profile/<%=player.regNumber%>">
                            <button class="btn btn-outline-warning btn-sm btn-block">
                              View Your Profile
                            </button>
                          </a>
                        <%}else{%>
                          <div style="display: flex;">
                            <div style="width: 50%;">
                              <a href="/profile/<%=player.regNumber%>" >
                                <div class="btn btn-outline-info btn-sm btn-block">
                                  View Profile
                                </div>
                              </a>
                            </div>
                            <div style="width: 50%; margin-left: 5px;">
                              <a href="/compare/<%=user.regNumber%>/<%=player.regNumber%>/performance" style="width: 50%;">
                                <div class="btn btn-info btn-sm btn-block">
                                  Compare
                                </div>
                              </a>
                            </div>
                          </div> 
                        <%}%>          
                      <%}else{%>
                        <a href="/profile/<%=player.regNumber%>">
                          <button class="btn btn-outline-info btn-sm btn-block">
                            View Profile
                          </button>
                        </a>
                      <%}%>
                    <%}else{%>
                      <a href="/profile/<%=player.regNumber%>">
                        <button class="btn btn-outline-info btn-sm btn-block">
                          View Profile
                        </button>
                      </a>
                    <%}%>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <%})%>

    </div>
  </div>
</div>
<div class="col-lg"></div>
</div>

<!-- *******end here******* -->

  <%- include('includes/footer') %>
