<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
    <div class="single-batch-container mt-2">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
      </div>
      <h5 class="bolder text-success mt-2"><strong>Top players in siliguri since - 2022</strong></h5>
      <hr>
      <h5 class="bolder"><strong>Top 10 Batters in Siliguri :</strong></h5>
      <div class="single-batch-data pb-2 pt-2">
      <%top10Players.topBatters.forEach((batter)=>{%>
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <div class="bolder text-primary"><strong><%=batter.userName%></strong></div>
                    <div><strong>Matches : </strong><%=batter.matchesPlayed%> &nbsp;|&nbsp; <strong>Total Runs : </strong><%=batter.runs%></div>
                    <div></div>
                  </div>
                  
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">

                    <%if(user){%>
                      <%if(user.accountType=="player"){%>
                        <%if(user.regNumber==batter.regNumber){%>
                          <a href="/profile/<%=batter.regNumber%>">
                            <button class="btn btn-outline-warning btn-sm btn-block">
                              View Your Profile
                            </button>
                          </a>
                        <%}else{%>
                          <div style="display: flex;">
                            <div style="width: 50%;">
                              <a href="/profile/<%=batter.regNumber%>" >
                                <div class="btn btn-outline-info btn-sm btn-block">
                                  View Profile
                                </div>
                              </a>
                            </div>
                            <div style="width: 50%; margin-left: 5px;">
                              <a href="/compare/<%=user.regNumber%>/<%=batter.regNumber%>/performance" style="width: 50%;">
                                <div class="btn btn-info btn-sm btn-block">
                                  Compare
                                </div>
                              </a>
                            </div>
                          </div> 
                        <%}%>          
                      <%}else{%>
                        <a href="/profile/<%=batter.regNumber%>">
                          <button class="btn btn-outline-info btn-sm btn-block">
                            View Profile
                          </button>
                        </a>
                      <%}%>
                    <%}else{%>
                      <a href="/profile/<%=batter.regNumber%>">
                        <button class="btn btn-outline-info btn-sm btn-block">
                          View Profile
                        </button>
                      </a>
                    <%}%>
                  </div>
                </div>
              </div>
          </div>
        </div> 
      <%})%>
      </div>
      <hr>

      <h5 class="bolder mt-2 "><strong>Top 10 Bowlers in Siliguri :</strong></h5>
      <div class="single-batch-data pb-2 pt-2">
      <%top10Players.topBowlers.forEach((bowler)=>{%>
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <div class="bolder text-primary"><strong><%=bowler.userName%></strong></div>
                    <div><strong>Matches : </strong><%=bowler.matchesPlayed%> &nbsp;|&nbsp; <strong>Total Wickets : </strong><%=bowler.wickets%></div>
                    <div></div>
                  </div>
                  
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    
                    <%if(user){%>
                      <%if(user.accountType=="player"){%>
                        <%if(user.regNumber==bowler.regNumber){%>
                          <a href="/profile/<%=bowler.regNumber%>">
                            <button class="btn btn-outline-warning btn-sm btn-block">
                              View Your Profile
                            </button>
                          </a>
                        <%}else{%>
                          <div style="display: flex;">
                            <div style="width: 50%;">
                              <a href="/profile/<%=bowler.regNumber%>" >
                                <div class="btn btn-outline-info btn-sm btn-block">
                                  View Profile
                                </div>
                              </a>
                            </div>
                            <div style="width: 50%; margin-left: 5px;">
                              <a href="/compare/<%=user.regNumber%>/<%=bowler.regNumber%>/performance" style="width: 50%;">
                                <div class="btn btn-info btn-sm btn-block">
                                  Compare
                                </div>
                              </a>
                            </div>
                          </div> 
                        <%}%>          
                      <%}else{%>
                        <a href="/profile/<%=bowler.regNumber%>">
                          <button class="btn btn-outline-info btn-sm btn-block">
                            View Profile
                          </button>
                        </a>
                      <%}%>
                    <%}else{%>
                      <a href="/profile/<%=bowler.regNumber%>">
                        <button class="btn btn-outline-info btn-sm btn-block">
                          View Profile
                        </button>
                      </a>
                    <%}%>
                  </div>
                </div>
              </div>
          </div>
        </div> 
      <%})%>
      </div>
      <hr>

      <h5 class="bolder mt-2"><strong>Top 10 All-rounders in Siliguri :</strong></h5>
      <div class="single-batch-data pb-2 pt-2">
      <%top10Players.topAllRounders.forEach((allrounder)=>{%>
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <div class="bolder text-primary"><strong><%=allrounder.userName%></strong></div>
                    <div><strong>Total Runs : </strong><%=allrounder.runs%>&nbsp;|&nbsp; <strong>Total Wickets : </strong><%=allrounder.wickets%></div>
                    <div></div>
                  </div>
                  
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    
                    <%if(user){%>
                      <%if(user.accountType=="player"){%>
                        <%if(user.regNumber==allrounder.regNumber){%>
                          <a href="/profile/<%=allrounder.regNumber%>">
                            <button class="btn btn-outline-warning btn-sm btn-block">
                              View Your Profile
                            </button>
                          </a>
                        <%}else{%>
                          <div style="display: flex;">
                            <div style="width: 50%;">
                              <a href="/profile/<%=allrounder.regNumber%>" >
                                <div class="btn btn-outline-info btn-sm btn-block">
                                  View Profile
                                </div>
                              </a>
                            </div>
                            <div style="width: 50%; margin-left: 5px;">
                              <a href="/compare/<%=user.regNumber%>/<%=allrounder.regNumber%>/performance" style="width: 50%;">
                                <div class="btn btn-info btn-sm btn-block">
                                  Compare
                                </div>
                              </a>
                            </div>
                          </div> 
                        <%}%>          
                      <%}else{%>
                        <a href="/profile/<%=allrounder.regNumber%>">
                          <button class="btn btn-outline-info btn-sm btn-block">
                            View Profile
                          </button>
                        </a>
                      <%}%>
                    <%}else{%>
                      <a href="/profile/<%=allrounder.regNumber%>">
                        <button class="btn btn-outline-info btn-sm btn-block">
                          View Profile
                        </button>
                      </a>
                    <%}%>
                  </div>
                </div>
              </div>
          </div>
        </div> 
      <%})%>
      </div>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

<%- include('includes/footer') %>
